<div class="notifications-container">
    <div class="title">
        Notifications
    </div>
    <div class="notification" *ngFor="let request of joinRequests">
        <div class="notification-body">
            <div class="request-content">
                L'utilisateur <span class="highlight">{{request.user}}</span> souhaite rejoindre l'album <span class="highlight">{{request.album}}</span>
            </div>
            <div class="request-actions">
                <button mat-icon-button color="primary" (click)="acceptJoinRequest(request)">
                    <mat-icon>check</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="declineJoinRequest(request)">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="notification" *ngFor="let notification of notifications; index as i">
        <div class="notification-body">
            <div class="notification-content">
                {{notification}}
            </div>
            <div class="notification-actions">
                <button mat-icon-button color="warn" (click)="removeNotification(i)">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="!hasNotifications" style="text-align: center;">
        Aucune notification
    </div>
</div>