.notifications-container {
    background-color: #424242;
    width: 25%;
    z-index: 999;
    position: absolute;
    right: 1em;
    top: 4em;
    max-height: 80%;
    overflow: auto;
    overflow-x: hidden;
}

.title {
    font-size: 16px;
    text-align: center;
    margin: 0.25em;
    padding: 0.25em;
    border-bottom: 2px solid #222222;
}

.notification {
    background: #222222;
    margin: 0.25em;
    padding: 0.5em;
    max-height: 100px;
}

.notification-title {
    display: flex;
    color: #969696;
    text-align: center;
}

.notification-body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.highlight {
    color: #969696;
    font-style: italic;
}

.notification-content,
.notification-actions,
.request-content,
.request-actions {
    margin-left: 0.25em;
    margin-right: 0.25em;
    word-wrap: break-word;
}

.request-content {
    flex: 0 1 80%;
}

.request-actions {
    flex: 0 1 20%;
}

.notification-content {
    flex: 0 1 90%;
}

.notification-actions {
    flex: 0 1 10%;
}
