<div class="card-container">
    <span class="title">Nouvel utilisateur</span>
    <div class="card">
        <div class="card-header"></div>
        <div class="card-content">
            <div class="register">
                <div class="avatar">
                    <app-avatar-edit [disabled]="registering" [imgSrc]="registerData?.avatar" (onAvatarSelect)="selectAvatar()"></app-avatar-edit>
                </div>
                <div class="form">
                    <div>
                        <mat-form-field class="input-login">
                            <mat-label [ngClass]="error && hasError('email') ? 'error':''">Courriel</mat-label>
                            <input [disabled]="registering" (keydown.enter)="register()" matInput (input)="registerData.email = $event.target.value">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="input-login">
                            <mat-label [ngClass]="error && hasError('password') ? 'error':''">Mot de passe</mat-label>
                            <input [disabled]="registering" (keydown.enter)="register()" type="password" matInput (input)="registerData.password = $event.target.value">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="input-login">
                            <mat-label [ngClass]="error && hasError('password_repeat') ? 'error':''">Répéter le mot de passe</mat-label>
                            <input [disabled]="registering" (keydown.enter)="register()" type="password" matInput (input)="registerData.password_repeat = $event.target.value">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="input-login">
                            <mat-label [ngClass]="error && hasError('pseudonym') ? 'error':''">Pseudonyme</mat-label>
                            <input [disabled]="registering" maxlength="20" (keydown.enter)="register()" matInput (input)="registerData.pseudonym = $event.target.value">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div>
                <button [disabled]="registering" mat-raised-button color="primary" (click)="register()">
                    Créer le compte
                </button>
            </div>
            <div style="margin-top:1em">
                <a mat-button color="accent" [disabled]="registering && !success" routerLink="/login">
                    <span *ngIf="!success">Vous avez déjà un compte?</span>
                    <span *ngIf="success">Se connecter</span>
                </a>
            </div>
            <div style="margin-top:1em; font-size:16px" class="success" *ngIf="success">
                Le compte a été créé avec succès!
            </div>
        </div>
    </div>

    <div class="footer-item"></div>
</div>
<app-avatar-select [hidden]="!selectingAvatar" (onSelectAvatar)="changeAvatar($event)" (onCancel)="cancelSelect()"></app-avatar-select>