.card {
    width: 40%;
}

.input-login {
    width: 80%;
}

.header-item {
    justify-content: center;
    text-align: center;
}

.footer-item {
    text-align: center;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}

.button {
    margin-bottom: 1em;
    width: 80%;
}

.form {
    grid-area: form;
}

.avatar {
    grid-area: avatar;
    display: flex;
    align-self: center;
    justify-content: center;
}

.register {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-areas: "avatar form";
}

.title {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}