.modal {
    width: 40%;
}

.content {
    padding-bottom: 1em;
    padding-top: 1em;
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-areas: 
    ". name name ."
    ". visibility album ."
    ". password password .";
}

.password {
    grid-area: password;
}

.small-size {
    width: 80%;
}

.full-size {
    width: 100%;
}

.name {
    grid-area: name;
}

.visibility {
    grid-area: visibility;
}

.album {
    grid-area: album;
}

textarea {
    min-height: 50px;
}