<div class="modal-container">
    <div class="modal">
        <div class="modal-header">
            Création d'un dessin
        </div>
        <div class="modal-content">
            <div class="content">
                <div class="name">
                    <mat-form-field class="full-size">
                        <mat-label [ngClass]="hasError('name') ? 'error':''">Nom</mat-label>
                        <input matInput maxlength="50" [disabled]="isCreating" [value]="drawing?.name" (input)="drawing.name = $event.target.value">
                    </mat-form-field>
                </div>
                <div class="visibility" style="text-align: left;">
                    Visibilité
                    <mat-button-toggle-group [value]="visibility" [disabled]="lockAlbum || isCreating || albums.length == 0" (change)="setVisibility($event.value)" aria-label="Niveau de visibilité">
                        <mat-button-toggle value="public">Public</mat-button-toggle>
                        <mat-button-toggle value="private">Privé</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div class="album" [hidden]="visibility != 'private'">
                    <mat-form-field class="full-size">
                        <mat-label [ngClass]="hasError('album_id') ? 'error':''">Album</mat-label>
                        <mat-select [value]="drawing?.album_id" [disabled]="lockAlbum || isCreating" (valueChange)="drawing.album_id = $event" matNativeControl>
                            <mat-option *ngFor="let album of albums" [value]="album.id">{{album.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="password" [hidden]="visibility != 'public'">
                    <mat-form-field class="full-size">
                        <mat-label>Mot de passe</mat-label>
                        <input type="password" matInput (input)="drawing.password = $event.target.value">
                    </mat-form-field>
                </div>
            </div>
            <div style="margin-bottom: 1em;">
                <button mat-raised-button color="primary" [disabled]="isCreating" (click)="createDrawing()">Créer</button>
            </div>
            <div class="modal-content-bottom-section">
                <button mat-stroked-button color="accent" [disabled]="isCreating" (click)="close()">Annuler</button>
            </div>
        </div>
    </div>
</div>