<div class="modal-container">
    <div class="modal">
        <div class="modal-header">
            Confirmation
        </div>
        <div class="modal-content">
            <div class="content">
                {{message}}
            </div>
            <div class="modal-content-bottom-section">
                <button mat-raised-button color="primary" class="button" (click)="confirm()" style="margin-right:0.5em">Oui</button>
                <button mat-raised-button color="primary" class="button" (click)="decline()" style="margin-left:0.5em">Annuler</button>
            </div>
        </div>
    </div>
</div>