canvas {
    cursor: crosshair;
    position: absolute;
}

#canvas {
    z-index: 1;
    background-color: white;
}

#preview-layer {
    z-index: 3;
}

#collab-preview {
    z-index: 2;
}

#canvas-container {
    position: relative;
}

#bottom-scaler,
#side-scaler,
#corner-scaler {
    position: absolute;
    background-color: white;
    background-color: 1px solid black;
    width: 7px;
    height: 7px;
    z-index: 2;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#bottom-scaler:hover {
    cursor: ns-resize;
}

#side-scaler:hover {
    cursor: ew-resize;
}

#corner-scaler:hover {
    cursor: nwse-resize;
}

#work-zone {
    background-color: #303030;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.mouse-events-disabled {
    pointer-events: none;
}

.mouse-events-enabled  {
    pointer-events: all;
}
