<div id="canvas-container">
    <canvas id="canvas" [style.left.px]="offset.x" [style.top.px]="offset.y" #baseCanvas></canvas>
    <canvas id="collab-preview" [style.left.px]="offset.x" [style.top.px]="offset.y" #collabPreview></canvas>
    <canvas
        [style.cursor]="cursor()"
        id="preview-layer"
        [style.left.px]="offset.x"
        [style.top.px]="offset.y"
        #previewCanvas
        (mousedown)="onCanvasMouseDown($event)"
        (mouseenter)="onCanvasMouseEnter($event)"
        (mouseleave)="onCanvasMouseLeave($event)"
        (dblclick)="onDoubleClick($event)"
        (wheel)="onMouseWheel($event)"
    ></canvas>
    <div
        id="work-zone"
        #workZone
        (mousedown)="onWorkZoneMouseDown($event)"
        [style.width.px]="workZoneSize.x"
        [style.height.px]="workZoneSize.y"
    ></div>
</div>
