<div>
    <mat-slider
        #slider
        class="slider"
        [min]="min"
        [max]="max"
        [value]="value"
        (input)="valueChanged($event.value)"
        (mouseup)="onMouseUp()"
        [step]="step"
    ></mat-slider>
    <span>{{ value }} {{ unit }}</span>
</div>
