<!--The content below is only a placeholder and can be replaced.-->
<app-notification></app-notification>
<app-actions-menu [ngClass]="isDrawing ? 'mouse-events-disabled':''" *ngIf="showActionsMenu"></app-actions-menu>
<router-outlet></router-outlet>
