.user {
    background: #222222;
    margin: 0.25em;
    padding: 0.5em;
    max-height: 100px;
    display: grid;
    align-items: center;
    grid-template-columns: 15% 75% 10%;
    grid-template-areas: "avatar pseudonym add";
}

.avatar {
    grid-area: avatar;
}

.pseudonym {
    grid-area: pseudonym;
}

.add {
    grid-area: add;
}

.add>button {
    color: rgb(113, 223, 50);
    font-size: 18px;
}