<div class="user" *ngFor="let user of users">
    <app-avatar class="avatar" [imgSrc]="user?.avatar" (onClick)="navigateToContact(user)"></app-avatar>
    <div class="pseudonym">
        {{user.pseudonym}}
    </div>
    <div class="add">
        <button mat-icon-button color="primary" (click)="addContact(user)"><fa-icon [icon]="addIcon"></fa-icon></button>
    </div>
</div>
<div *ngIf="users.length == 0" style="text-align: center">
    Aucun utilisateur disponible
</div>