<div class="modal-container">
    <div class="modal">
        <div class="modal-header">
            Modification d'un album
        </div>
        <div class="modal-content">
            <div class="content">
                <mat-form-field class="small-size">
                    <mat-label [ngClass]="hasError('name') ? 'error':''">Nom</mat-label>
                    <input matInput maxlength="50" [disabled]="isEditing" [value]="album?.name" (input)="album.name = $event.target.value">
                </mat-form-field>
                <mat-form-field class="full-size">
                    <mat-label [ngClass]="hasError('description') ? 'error':''">Description</mat-label>
                    <textarea autosize matInput [disabled]="isEditing" [value]="album?.description" (input)="album.description = $event.target.value"></textarea>
                </mat-form-field>
                <div style="justify-content: center; flex: 1 1 100%;">
                    <button mat-raised-button color="primary" [disabled]="isEditing" (click)="editAlbum()">Modifier</button>
                </div>
            </div>
            <div class="modal-content-bottom-section">
                <button mat-stroked-button color="accent" [disabled]="isEditing" (click)="close()">Annuler</button>
            </div>
        </div>
    </div>
</div>