<div class="modal-container">
  <div class="modal">
      <div class="modal-header">
          Ajout d'un canal de discussion
      </div>
      <div class="modal-content">
          <div class="content">
            <button mat-raised-button color="primary" style="margin-right:0.25em" (click)="toggleJoin()" >Rejoindre un canal existant</button>
            <button mat-raised-button color="primary" style="margin-left:0.25em" (click)="toggleCreate()">Créer un nouveau canal</button>

            <div *ngIf="showAvailableRooms" class="modal-content-bottom-section join-form">
              <div class="filter">
                <mat-form-field class="filter-input">
                  <mat-label>Rechercher</mat-label>
                  <input matInput 
                    (keydown.enter)="searchByName()"
                    maxlength="50"
                    autocomplete="none" 
                    placeholder="Nom" 
                    [value]="nameFilter" 
                    (input)="nameFilter = $event.target.value">
                </mat-form-field>
                <button class="filter-btn" (click)="searchByName()" mat-raised-button color="primary">Rechercher</button>
              </div>
              <div class="rooms-container">
                <select class="room-list" size="6" *ngIf="availableRooms.length > 0">
                  <option class="room" *ngFor="let room of availableRooms" (click)="joinRoom(room)"> 
                    {{room.name}} 
                  </option>
                </select>
                <div style="background: var(--dark-box); padding: 0.5em" *ngIf="availableRooms.length == 0">
                  Aucune salle disponible
                </div>
              </div>
            </div>
            <div *ngIf="showCreateForm" class="modal-content-bottom-section create-form">
              <mat-form-field class="create-input">
                  <mat-label [ngClass]="hasError('name') ? 'error':''">Nom</mat-label>
                  <input matInput maxlength="20" [value]="newRoomName" (input)="newRoomName = $event.target.value">
              </mat-form-field>
              <button mat-raised-button color="primary" (click)="createRoom()">Créer le canal</button>
            </div>
          </div>
          <div class="modal-content-bottom-section">
              <button mat-raised-button color="accent" (click)="close()">Annuler</button>
          </div>
      </div>
  </div>
</div>
