.modal {
  top: 40%;
  transform: translateY(-25%);
}

.modal-content-bottom-section {
  margin-top: 1em;
}

.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-input {
  width: 50%;
}

.create-form>button {
  width: fit-content;
}

.join-form {
  display: flex;
  flex-direction: column;
}

.filter {
  display: inline-flex;
}

.filter-input {
  align-self: flex-start;
  margin-left: 1.25em;
  width: 400px;
}

.filter-btn {
  width: fit-content;
  height: fit-content;
  margin-left: 1em;
}

.rooms-container {
  align-self: center;
  width: 95%;
  max-height: 200px;
  overflow: auto;
  overflow-x: hidden;
}

.room-list {
  width: 100%;
  background-color: var(--dark-box);
}

.room {
  padding: 0.25em;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  text-align: left;
  color: #969696;
}

.room:hover {
  background-color: #292929;
  cursor: pointer;
}