.modal {
    width: 30%;
}

.content {
    padding-bottom: 1em;
    padding-top: 1em;
}

.content>div {
    display: flex;
}

.content-name {
    color: #969696;
}

.content-body {
    max-width: 80%; 
    word-wrap: break-word;
}

.modal-content-top-section button {
    margin-left: 1em;
}