<div class="modal-container">
    <div class="modal">
        <div class="modal-header">
            Album
        </div>
        <div class="modal-content">
            <div class="modal-content-top-section" *ngIf="isOwner || canQuit">
                <div *ngIf="isOwner">
                    <button mat-raised-button color="primary" [disabled]="disableActions" (click)="editAlbum()">Modifier</button>
                    <button mat-raised-button color="warn" (click)="deleteAlbum()" [disabled]="disableActions">Supprimer</button>
                </div>
                <div *ngIf="canQuit">
                    <button mat-raised-button color="warn" (click)="quitAlbum()" [disabled]="disableActions">Quitter l'album</button>
                </div>
            </div>
            <div class="content">
                <div>
                    <span class="content-name">Nom :</span>&nbsp;
                    <span class="content-body">{{album?.name}}</span>
                </div>
                <div>
                    <span class="content-name">Description : </span>&nbsp;
                    <span class="content-body">{{album?.description || 'Aucune'}}</span>
                </div>
                <a mat-raised-button color="primary" routerLink="/album/{{album?.id}}" [disabled]="disableActions">Aller à l'album</a>
            </div>
            <div class="modal-content-bottom-section">
                <button mat-stroked-button color="accent" (click)="close()" [disabled]="disableActions">Fermer</button>
            </div>
        </div>
    </div>
</div>
<app-confirm 
    [hidden]="!confirming" 
    [message]="confirmMessage"
    (onCancel)="cancelDelete()"
    (onConfirm)="onConfirm()">
</app-confirm>