.outline-base {
    z-index: 20;
    position: absolute;
    pointer-events: none;
}

.outline-base:hover {
    cursor: pointer;
}

.outline-circular {
    border-radius: 50%;
}

.outline-dashed {
    border: 1px dashed black;
}

.outline-blue {
    border: 1px solid #0066ff;
    pointer-events: all;
}

.scaler {
    position: absolute;
    background-color: white;
    border: black 1px solid;
    z-index: 20;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: all;
}

.nsScaler:hover {
    cursor: ns-resize;
}

.ewScaler:hover {
    cursor: ew-resize;
}

.nwseScaler:hover {
    cursor: nwse-resize;
}

.neswScaler:hover {
    cursor: nesw-resize;
}
