<div
    [ngClass]="{
        'outline-base': true,
        'outline-circular': isCircular,
        'outline-dashed': outlineStyle == 0,
        'outline-blue': outlineStyle == 1
    }"
    [style.top.px]="top"
    [style.left.px]="left"
    [style.width.px]="width"
    [style.height.px]="height"
    (mousedown)="onMouseDown($event)"
></div>

<div *ngIf="outlineStyle === outlineOutline">
    <div
        #scaler
        [ngClass]="{ scaler: true, nwseScaler: true }"
        [style.width.px]="SCALER_SIZE"
        [style.height.px]="SCALER_SIZE"
        [style.top.px]="top - scalerOffset.y"
        [style.left.px]="left - scalerOffset.x"
        (mousedown)="onMouseDownScaler(eSelectionResizeScalers.TopLeft)"
    ></div>

    <div
        #scaler
        [ngClass]="{ scaler: true, neswScaler: true }"
        [style.width.px]="SCALER_SIZE"
        [style.height.px]="SCALER_SIZE"
        [style.top.px]="top - scalerOffset.y"
        [style.left.px]="left + width - scalerOffset.x"
        (mousedown)="onMouseDownScaler(eSelectionResizeScalers.TopRight)"
    ></div>

    <div
        #scaler
        [ngClass]="{ scaler: true, neswScaler: true }"
        [style.width.px]="SCALER_SIZE"
        [style.height.px]="SCALER_SIZE"
        [style.top.px]="top + height - scalerOffset.y"
        [style.left.px]="left - scalerOffset.x"
        (mousedown)="onMouseDownScaler(eSelectionResizeScalers.BottomLeft)"
    ></div>

    <div
        #scaler
        [ngClass]="{ scaler: true, nwseScaler: true }"
        [style.width.px]="SCALER_SIZE"
        [style.height.px]="SCALER_SIZE"
        [style.top.px]="top + height - scalerOffset.y"
        [style.left.px]="left + width - scalerOffset.x"
        (mousedown)="onMouseDownScaler(eSelectionResizeScalers.BottomRight)"
    ></div>

    <div
        #scaler
        [ngClass]="{ scaler: true, nsScaler: true }"
        [style.width.px]="SCALER_SIZE"
        [style.height.px]="SCALER_SIZE"
        [style.top.px]="top - scalerOffset.y"
        [style.left.px]="left + width / 2 - scalerOffset.x"
        (mousedown)="onMouseDownScaler(eSelectionResizeScalers.Top)"
    ></div>

    <div
        #scaler
        [ngClass]="{ scaler: true, ewScaler: true }"
        [style.width.px]="SCALER_SIZE"
        [style.height.px]="SCALER_SIZE"
        [style.top.px]="top + height / 2 - scalerOffset.y"
        [style.left.px]="left - scalerOffset.x"
        (mousedown)="onMouseDownScaler(eSelectionResizeScalers.Left)"
    ></div>

    <div
        #scaler
        [ngClass]="{ scaler: true, ewScaler: true }"
        [style.width.px]="SCALER_SIZE"
        [style.height.px]="SCALER_SIZE"
        [style.top.px]="top + height / 2 - scalerOffset.y"
        [style.left.px]="left + width - scalerOffset.x"
        (mousedown)="onMouseDownScaler(eSelectionResizeScalers.Right)"
    ></div>

    <div
        #scaler
        [ngClass]="{ scaler: true, nsScaler: true }"
        [style.width.px]="SCALER_SIZE"
        [style.height.px]="SCALER_SIZE"
        [style.top.px]="top + height - scalerOffset.y"
        [style.left.px]="left + width / 2 - scalerOffset.x"
        (mousedown)="onMouseDownScaler(eSelectionResizeScalers.Bottom)"
    ></div>
</div>
