<div class="container" *ngIf="!showPickerEls">
    <div class="primary">
        <div #primarycolor 
            [ngClass]="hasSelection ? 'mouse-events-enabled':''" 
            class="color-element" 
            [style.background-color]="getColorStr(priColor)" 
            (click)="startColorPickingPrimary()"></div>
    </div>
    <div class="primary-text">
        <label for="primarycolor">Trait</label>
    </div>
    <div class="secondary">
        <div #secondarycolor 
            [ngClass]="hasSelection ? 'mouse-events-enabled':''" 
            class="color-element" 
            [style.background-color]="getColorStr(secColor)" 
            (click)="startColorPickingSecondary()"></div>
    </div>
    <div class="secondary-text">
        <label for="secondaryColor">Fond</label>
        <mat-checkbox [ngClass]="hasSelection ? 'mouse-events-enabled':''" color="primary" [checked]="isTransparent" (change)="setTransparency($event.checked)">Transparent</mat-checkbox>
    </div>
    <div class="text">
        <div #secondarycolor 
            [ngClass]="hasSelection ? 'mouse-events-enabled':''" 
            class="color-element" 
            [style.background-color]="getColorStr(textColor)" 
            (click)="startColorPickingText()"></div>
    </div>
    <div class="text-text">
        <label for="secondaryColor">Texte</label>
    </div>
</div>

<app-color-palette #palette [ngClass]="hasSelection ? 'mouse-events-enabled':''" [hidden]="!showPickerEls" (colorChange)="setNewColor($event)" (cancelEvent)="cancelPicking()"></app-color-palette>