.container {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "primary primaryText"
    "secondary secondaryText"
    "text textText";
}

.mouse-events-enabled {
    pointer-events: all !important;
}

.primary,
.secondary,
.text {
    width: 100%;
    justify-content: center;
    display: flex;
}

.primary {
    grid-area: primary;
}

.primary-text {
    grid-area: primaryText;
    color: #aaaaaa;
}

.secondary {
    grid-area: secondary;
}

.secondary-text {
    grid-area: secondaryText;
    display: flex;
    flex-direction: column;
}

.secondary-text>label {
    color: #aaaaaa;
    margin-bottom: 0.5em;
}

.text {
    grid-area: text;
}

.text-text {
    grid-area: textText;
    color: #aaaaaa;
}

.color-element {
    border: 1px solid #969696;
    width: 80px;
    height: 60px;
    margin-bottom: 5px;
    display: block;
}

.color-element:hover {
    cursor: pointer;
}

label {
    font-size: 16px;
}
