.avatar {
    border-radius: 1000px;
    background-color: rgb(43, 43, 43);
    border: 4px solid #5a5a5a;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.avatar-img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
}

.change-avatar-text {
    -webkit-text-stroke: 0.5px black;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top:50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
}

:not(.avatar-disabled).avatar:hover {
    background-color: rgb(54, 54, 54);
    cursor: pointer;
}

.avatar:hover .change-avatar-text {
    display: block;
}