<div class="avatar" [ngClass]="disabled ? 'avatar-disabled':''" (click)="onAvatarSelect.emit()">
    <span class="change-avatar-text" *ngIf="!disabled">Choisir un avatar</span>
    <canvas #imgCanvas class="avatar-img" [width]="IMG_WIDTH" [height]="IMG_HEIGHT"></canvas>
</div>