<div class="container">
    <div class="drawing-info" [ngClass]="isDrawing ? 'mouse-events-disabled':''">
        <a mat-stroked-button color="warn" routerLink="/album/{{drawing?.album_id}}">Quitter la session</a>
        <span class="drawing-name-title">Dessin: </span>
        <span class="drawing-name">{{drawing?.name}}</span>
    </div>
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="drawing-container">
        <app-drawing class="drawing" tabindex="0" #drawingContainer></app-drawing>
    </div>
    <div class="collaborators-container" *ngIf="users">
        <div class="collaborator" *ngFor="let user of users | keyvalue">
            <span class="username" [style.color]="getUserColor(user.value)">
                {{user.value.pseudonym}}
            </span>
            <app-avatar (click)="navigateToUser(user.value)" [imgSrc]="user.value.avatar"></app-avatar>
        </div>
    </div>
    <div [ngClass]="isDrawing ? 'mouse-events-disabled':''">
        <app-layers></app-layers>
    </div>
</div>
<app-component-container></app-component-container>
<app-loading *ngIf="isLoading"></app-loading>