.container {
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    position: relative;
    height: 100%;
    display: flex;
    scrollbar-color: dimgray gray;
    scrollbar-width: thin;
}

.sidebar {
    grid-area: sidebar;
}

.mouse-events-disabled {
    pointer-events: none;
}

.drawing-info {
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 250px;
    padding: 10px;
    display: flex;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.drawing-name-title {
    margin-left: 1em;
    font-size: 20px;
    color: #969696;
}

.drawing-name {
    margin-left: 0.5em;
    font-size: 20px;
}

.drawing-container {
    grid-area: drawing;
    overflow: auto;
    flex: 1 1 auto;
}

.drawing {
    display: grid;
    width: min-content;
    outline: none;
}

.collaborators-container {
    position: absolute;
    right:5px;
    top: 100px;
    display: flex;
    flex-direction: column;
}

.collaborator {
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.username {
    text-align: right;
    margin-right: 0.5em;
    font-size: 16px;
}

app-layers {
    position: absolute;
    width: calc(1200px - 1em);
    left:260px;
    height: 115px;
    padding: 0.5em;
    bottom: 10px;
    background-color: #3d3c3f;
    display: flex;
    overflow: auto;
    overflow-y: hidden;
}