<div class="container">
    <div class="drawing-card">
        <div class="drawing-card-body" *ngIf="!_drawing?.was_transfered">
            <div class="drawing-card-content" (click)="view()">
                <canvas
                    #drawingCanvas
                    class="drawing-canvas"
                    width="200px"
                    height="160px"
                ></canvas>
                <div>
                    <span class="content-name">Nom: </span>
                    <span class="content-body">
                        {{_drawing?.name}}
                    </span>
                </div>
                <div>
                    <span class="content-name">Propriétaire: </span>
                    <span class="content-body">
                        {{_drawing?.owner}}
                    </span>
                </div>
                <div>
                    <span class="content-name">Créé à: </span>
                    <span class="content-body">
                        {{_drawing?.created_at.format("yyyy-MM-DD HH:mm:ss")}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>