.drawing-card {
    background-color: #2b2b2b;
    width: 250px;
    height: 300px;
    overflow: auto;
    overflow-x: hidden;
    box-shadow: 5px 7px 4px 0px rgba(27, 27, 27, 0.062);
}

.container {
    position: relative;
}

.drawing-card:hover {
    background-color: #313131;
    cursor: pointer;
}

.drawing-card-body {
    padding: 1em;
    position: relative;
}

.drawing-canvas {
    width: 100%;
    background-color: white;
}

.content-name {
    color: #969696;
}

.content-body {
    max-width: 80%; 
    word-wrap: break-word;
}