.notification-container {
    display: block;
    position: fixed;
    width: 400px;
    top: 10px;
    left: 20px;
    z-index: 1001;
}

.notification {
    display: block;
    width: inherit;
    overflow: auto;
    pointer-events: none;
    margin-bottom: 0.5em;
    position: relative;
}

.notification-block {
    padding: 1em 1.5em 1em 1.5em;
}

.delete-icon {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: all;
}

.delete-icon:hover {
    color: var(--warn-hover);
    cursor: pointer;
}

.notification-success {
    background-color: #69bb26;
    color: white;
}

.notification-error {
    background-color: rgb(219, 70, 70);
    color: white;
}

.notification-warning {
    background-color: rgb(235, 207, 82);
    color: rgb(78, 78, 78);
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
