<div class="notification-container">
    <div *ngFor="let notification of notifications; index as i" class="notification">
        <div
            class="notification-block"
            [ngClass]="{
                'notification-success': isSuccess(notification.code),
                'notification-warning': isWarning(notification.code),
                'notification-error': isError(notification.code)
            }"
        >
            <div>
                <h4 class="txt-bold">{{ notification.title }}</h4>
            </div>
            <div *ngIf="notification.messages != undefined">
                <ul>
                    <li *ngFor="let message of notification.messages">{{message}}</li>
                </ul>
            </div>
            <div *ngIf="notification.message != undefined && notification.message != ''">
                <pre>{{ notification.message }}</pre>
            </div>
        </div>
        <button class="delete-icon" mat-icon-button style="color: white; font-size: 18px;" (click)="notifications.splice(i, 1)">
            <fa-icon [icon]="deleteIcon"></fa-icon>
        </button>
    </div>
</div>
