<div class="chat-box">
    <div class="room">
      <button
        mat-stroked-button
        color="primary" 
        class="list-icon" 
        (mouseenter)="setShowChatList()"
        (mouseleave)="startHideChatList()"
        [ngClass]="showChatList ? 'list-icon-selected':''">
        <fa-icon [icon]="showChatList ? lessIcon:moreIcon"></fa-icon>
      </button>
      {{currentRoom?.name}}
    </div>
    <div class="chat-rooms" [hidden]="!showChatList" (mouseleave)="startHideChatList()" (mouseenter)="cancelHideChatList()">
      <app-chat-list
        [rooms]="rooms" 
        [selectedRoomId]="currentRoom?.id" 
        (onRoomSelect)="selectRoom($event)"></app-chat-list>
    </div>
    <div class="chat" [hidden]="showChatList">
      <span *ngFor="let room of rooms" >
        <app-drawing-chat 
          *ngIf="room.id < 0"
          [enableRouteToUser]="false"
          [conn]="drawingRoomClient" 
          [room]="room" 
          [hidden]="room.id != currentRoom?.id" 
          [showChatBox]="show && room.id == currentRoom?.id"></app-drawing-chat>
        <app-chat 
          *ngIf="room.id >= 0" 
          [enableRouteToUser]="false"
          [room]="room" 
          [hidden]="room.id != currentRoom?.id" 
          [showChatBox]="show && room.id == currentRoom?.id"></app-chat>
      </span>
    </div>
  </div>
  