.chat-box {
    overflow-x: hidden;
    overflow: auto;
    height: 100%;
    z-index: 999;
    display: grid;
    background-color: #424242;
    border-right: 0.5em solid #424242;
    justify-content: center;
    grid-template-columns: 90%;
    grid-template-rows: 6% 94%;
    grid-template-areas:
    "room" 
    "chat";
}

.chat {
    grid-area: chat;
}

.room {
    grid-area: room;
    background-color: #424242;
    padding: 0.8em 0.5em 0.5em 0.8em;
    margin: 0;
    width: 100%;
    font-size: 16px;
}

.list-icon {
    border: 1px solid rgba(141, 141, 141, 0.164);
    background-color: #424242;
    border-radius: 0px;
    color: var(--primary-color);
}

.chat-rooms {
    grid-area: chat;
}