<div class="container">
    <div style="margin-left: 1em;">
        <a mat-stroked-button color="primary" routerLink="/album">Retour à l'accueil</a>
    </div>
    <div class="user-info-container">
        <app-avatar-edit [disabled]="isEditing" [imgSrc]="user?.avatar" (onAvatarSelect)="selectAvatar()"></app-avatar-edit>
        <div class="user-info">
            <div class="user-pseudonym" *ngIf="!isEditing" (click)="editUser()">
                {{user?.pseudonym}}
                <fa-icon style="margin-left: 1em;" [icon]="editIcon"></fa-icon>
            </div>
            <div class="user-pseudonym-edit" *ngIf="isEditing">
                <mat-form-field style="width:80%;">
                    <mat-label>Pseudonyme</mat-label>
                    <input matInput [value]="editedUser?.pseudonym" (input)="editedUser.pseudonym = $event.target.value" maxlength="20">
                </mat-form-field>
                <button mat-icon-button color="primary" (click)="confirmEdit()"><fa-icon [icon]="confirmIcon"></fa-icon></button>
                <button mat-icon-button color="warn" (click)="cancelEdit()"><fa-icon [icon]="cancelIcon"></fa-icon></button>
            </div>
            <div class="user-email">
                {{user?.email}}
            </div>
            <div style="margin-top: 1em;">   
                <mat-radio-group (change)="setEmailConfidentiality($event.value)" aria-label="Confidentialité du courriel">
                    <mat-radio-button [checked]="!user?.is_public_email" value="false">Courriel privé</mat-radio-button>
                    <mat-radio-button [checked]="user?.is_public_email" value="true">Courriel public</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="user-quick-stats">
            <div class="stats-text">
                <span class="stat-text">Nombre de dessins auteur:</span>
                <span class="stat-text">Nombre de dessins collaboré:</span>
                <span class="stat-text">Nombre d'albums privés membre:</span>
                <span class="stat-text">Temps moyen des séances de collaboration:</span>
                <span class="stat-text">Temps total de l'ensemble des séances de collaboration:</span>
            </div>
            <div class="stats">
                <span class="stat">{{metrics?.owned_drawings}}</span>
                <span class="stat">{{metrics?.collaborated_drawings}}</span>
                <span class="stat">{{metrics?.member_albums}}</span>
                <span class="stat">{{formatSeconds(metrics?.average_collaboration_time)}}</span>
                <span class="stat">{{formatSeconds(metrics?.total_collaboration_time)}}</span>
            </div>
        </div>
    </div>
    <div class="connections-panel">
        <div class="section-header">
            Historique des connexions
        </div>
        <div class="section-body">
            <div class="connection-history-header">
                <span>Date de connexion</span>
                <span>Date de déconnexion</span>
            </div>
            <div class="connection-history-body">
                <div class="history-entry" *ngFor="let entry of history">
                    <span class="connect-entry">
                        <span>
                            {{entry.created_at.locale("fr").format("dddd")}}
                        </span>
                        <span>
                            {{entry.created_at.locale("fr").format("DD MMMM YYYY")}}
                        </span>
                        <span>
                            {{entry.created_at.locale("fr").format("hh:mm:ss a")}}
                        </span>
                    </span>
                    <span class="disconnect-entry">
                        <span>
                            {{entry.invalidated_at?.locale("fr").format("dddd")}}
                        </span>
                        <span>
                            {{entry.invalidated_at?.locale("fr").format("DD MMMM YYYY")}}
                        </span>
                        <span>
                            {{entry.invalidated_at?.locale("fr").format("hh:mm:ss a")}}
                        </span>
                    </span>    
                </div>
            </div>
        </div>
    </div>
    <div class="drawings-panel">
        <div class="section-header">
            Historique d'édition de dessins
        </div>
        <div class="section-body">
            <div style="text-align: center; font-size: 18px;" *ngIf="collaborativeSessions.length == 0">
                Aucun historique d'édition de dessins
            </div>
            <div class="collaboration-header" *ngIf="collaborativeSessions.length > 0">
                <span>Dessin</span>
                <span>Album</span>
                <span>Date</span>
                <span></span>
            </div>
            <div class="collaboration-body" *ngIf="collaborativeSessions.length > 0">
                <div class="session-entry" *ngFor="let entry of collaborativeSessions">
                    <span style="margin-left: 1em;">
                        {{entry.drawing}}
                    </span>
                    <span>
                        <a style="text-decoration: none; color: #3a96e2" routerLink="/album/{{entry.album_id}}">{{entry.album}}</a>
                    </span>  
                    <span>
                        <span>
                            {{entry.start_time.locale("fr").format("dddd")}}
                        </span>
                        <span>
                            {{entry.start_time.locale("fr").format("DD MMMM YYYY")}}
                        </span>
                        <span>
                            {{entry.start_time.locale("fr").format("hh:mm:ss a")}}
                        </span>
                    </span>  
                    <span>
                        <a *ngIf="isAlbumMember(entry.album_id)" mat-stroked-button color="primary" routerLink="/editor/{{entry.drawing_id}}">
                            Éditer le dessin
                        </a>
                        <button 
                            *ngIf="!isAlbumMember(entry.album_id)" 
                            [disabled]="isPendingJoin(entry.album_id)" 
                            mat-stroked-button
                            (click)="joinAlbum(entry.album_id)" 
                            color="primary">
                            Rejoindre l'album
                        </button>
                    </span> 
                </div>
            </div>
        </div>
    </div>
</div>
<app-avatar-select [hidden]="!selectingAvatar" (onSelectAvatar)="changeAvatar($event)" (onCancel)="cancelEdit()"></app-avatar-select>