.container {
    width: 95%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    align-items: flex-start;
    grid-template-rows: 10% 40% 45%;
    grid-auto-columns: 50% 50%;
    grid-template-areas: 
    "back ."
    "user user"
    "connections drawings";
}

.connections-panel {
    grid-area: connections;
}

.drawings-panel {
    grid-area: drawings;
}

.connections-panel,
.drawings-panel {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    background-color: #222222;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.section-header {
    padding: 1em;
    display: flex;
    font-weight: 400;
    font-size: 22px;
}

.section-body {
    padding: 1em;
    background-color: #292929;
}

.connection-history-header {
    display: grid;
    grid-template-columns: 45% 45%;
    margin-left: 1em;
    font-size: 18px;
    color: #949494;
    padding: 0em 1em 1em 0em;
}

.connection-history-body {
    max-height: 200px;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.history-entry {
    display: grid;
    grid-template-columns: 45% 45%;
    background-color: #418ace07;
    border-left: 2px solid #415bce;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    padding: 0.25em;
}

.disconnect-entry,
.connect-entry {
    text-align: right;
    font-weight: 500;
    margin-left: 0.5em;
    font-size: 16px;
    display: grid;
    grid-template-columns: 20% 35% 30%;
}

.connect-entry {
    color: #aedd3f;
}

.disconnect-entry {
    color: #f13e3e;
}

.collaboration-header {
    display: grid;
    grid-template-columns: 25% 20% 35% 10%;
    margin-left: 1em;
    font-size: 18px;
    color: #949494;
    padding: 0em 1em 1em 0em;
}

.collaboration-body {
    max-height: 200px;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.session-entry {
    display: grid;
    font-size: 16px;
    align-items: center;
    grid-template-columns: 25% 20% 35% 10%;
    background-color: #418ace07;
    border-left: 2px solid #415bce;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    padding: 0.25em;
}

.session-entry>span {
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.user-info-container {
    grid-area: user;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 200px;
    display: grid;
    padding: 2em;
    background-color: #222222;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-template-columns: max(220px, 15%) 30% 55%;
    grid-template-areas: "avatar user-info user-quick-stats";
}

.user-info {
    padding-top: 3em;
    grid-area: user-info;
}

.user-pseudonym {
    width: fit-content;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 1em;
    padding: 0.25em;
}

.user-pseudonym:hover {
    cursor: pointer;
    border: 1px dashed white;
    border-radius: 5px;
    color:rgb(214, 214, 214);
}

.user-email {
    color: #949494;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.user-quick-stats {
    grid-area: user-quick-stats;
    display: grid;
    grid-gap: 1em;
    align-items: center;
    grid-template-areas: "stats-text stats";
}

.stats-text {
    grid-area: stats-text;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.stat-text {
    color: #949494;
    font-size: 16px;
    margin-bottom: 0.5em;
}

.stats {
    grid-area: stats;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stat {
    color: #a9ec3e;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.mat-radio-button {
    margin-right: 1em;
}