.outline {
    z-index: 20;
    position: absolute;
}

.outline:hover {
    cursor: text;
}

textarea {
    background-color: transparent;
    border: none !important;
    font-family: 'Arial';
    font-size: 16px;
    resize: none;
    text-align: center;
    padding: 0px !important;
    width: inherit;
    height: 100%;
    box-sizing: border-box;
    overflow-wrap: normal;
    white-space: pre;
    overflow: hidden;
    color: transparent;
    caret-color: black;
}

textarea:focus {
    border: none !important;
    outline: none !important;
}