.chat-box {
    width: 22%;
    z-index: 999;
    position: absolute;
    right: 1.5em;
    top: 4em;
    bottom: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6% 94%;
    grid-template-areas:
    "room" 
    "chat";
}

.chat {
    grid-area: chat;
}

.room {
    grid-area: room;
    background-color: #424242;
    padding: 0.8em 0.5em 0.5em 0.8em;
    margin: 0;
    width: 100%;
    font-size: 16px;
}

.list-icon {
    border: 1px solid rgba(141, 141, 141, 0.164);
    background-color: #424242;
    border-radius: 0px;
    color: var(--primary-color);
}

.chat-rooms {
    grid-area: chat;
}

.popout-btn {
    float: right;
    font-size: 16px;
}