<div class="chat-box">
  <div class="room">
    <button
      mat-stroked-button
      color="primary" 
      class="list-icon" 
      (mouseenter)="setShowChatList()"
      (mouseleave)="startHideChatList()"
      [ngClass]="showChatList ? 'list-icon-selected':''">
      <fa-icon [icon]="showChatList ? lessIcon:moreIcon"></fa-icon>
    </button>
    {{currentRoom?.name}}
    <button class="popout-btn" mat-icon-button color="warn" (click)="popoutChat()"><fa-icon [icon]="popOutIcon"></fa-icon></button>
  </div>
  <div class="chat-rooms" [hidden]="!showChatList" (mouseleave)="startHideChatList()" (mouseenter)="cancelHideChatList()">
    <app-chat-list
      [rooms]="rooms" 
      [selectedRoomId]="currentRoom?.id" 
      (onRoomSelect)="selectRoom($event)"></app-chat-list>
  </div>
  <div class="chat" [hidden]="showChatList">
    <span *ngFor="let room of rooms" >
      <app-drawing-chat 
        *ngIf="room.id < 0"
        (onNotification)="newNotification()"
        [conn]="drawingRoomClient" 
        [room]="room" 
        [hidden]="room.id != currentRoom?.id" 
        [showChatBox]="show && room.id == currentRoom?.id"></app-drawing-chat>
      <app-chat 
        *ngIf="room.id >= 0" 
        (onNotification)="newNotification()"
        [room]="room" 
        [hidden]="room.id != currentRoom?.id" 
        [showChatBox]="show && room.id == currentRoom?.id"></app-chat>
    </span>
  </div>
</div>
