<div class="contacts-container">
    <div class="title">
        Contacts
    </div>
    <div class="contact-list" [hidden]="isAdding">
        <div class="contacts">
            <div class="contact" *ngFor="let contact of contacts">
                <app-avatar class="avatar" [imgSrc]="contact?.contact_avatar" (onClick)="navigateToContact(contact)"></app-avatar>
                <div [ngClass]="contact.is_connected ? 'connected':'disconnected'"></div>
                <div class="pseudonym">
                    {{contact.contact}}
                </div>
                <div class="collaborative-session">
                    <div style="color: #969696;" *ngIf="contact.is_in_collaborative_session">
                        En session collaborative
                        <i style="font-weight: 600; margin-right: 0.5em">
                            {{contact.collaborative_session.drawing}}
                        </i>
                        <span *ngIf="shouldShowJoin(contact.collaborative_session.drawing_id)">
                            <a 
                                *ngIf="isAlbumMember(contact.collaborative_session.album_id)" 
                                mat-stroked-button color="primary" 
                                (click)="routeToDrawing(contact.collaborative_session)">
                                Rejoindre
                            </a>
                            <button 
                                *ngIf="!isAlbumMember(contact.collaborative_session.album_id)" 
                                [disabled]="isPendingJoin(contact.collaborative_session.album_id)" 
                                mat-stroked-button
                                (click)="joinAlbum(contact.collaborative_session.album_id)" 
                                color="primary">
                                Rejoindre l'album
                            </button>
                        </span>
                    </div>
                </div>
                <div class="delete">
                    <button mat-icon-button color="warn" (click)="deleteContact(contact)"><fa-icon [icon]="deleteIcon"></fa-icon></button>
                </div>
            </div>
        </div>
        <div *ngIf="contacts.length == 0" style="text-align: center;">
            Aucun contact
        </div>
        <div style="text-align: right; padding: 0.5em">
            <button mat-mini-fab color="primary" (click)="isAdding = true"><fa-icon [icon]="addContactIcon"></fa-icon></button>
        </div>
    </div>
    <div class="contact-add" *ngIf="isAdding">
        <button style="margin-left:0.25em; margin-bottom: 1em" mat-stroked-button color="primary" (click)="closeAddContact()">
            Revenir à la liste de contacts
        </button>
        <app-contact-add></app-contact-add>
    </div>
</div>
<app-confirm [hidden]="!confirming" [message]="confirmText" (onCancel)="confirming = false" (onConfirm)="onDelete()"></app-confirm>
<app-drawing-confirm-password [drawingId]="selectedDrawingId" *ngIf="isSettingPassword" (onCancel)="hideAll()" (onConfirm)="joinDrawing(selectedDrawingId)"></app-drawing-confirm-password>