.contacts-container {
    background-color: #424242;
    width: 35%;
    z-index: 999;
    position: absolute;
    right: 1em;
    top: 4em;
    max-height: 80%;
    overflow: auto;
    overflow-x: hidden;
}

.title {
    font-size: 16px;
    text-align: center;
    margin: 0.25em;
    padding: 0.25em;
    border-bottom: 2px solid #222222;
}

.contact {
    background: #222222;
    margin: 0.25em;
    padding: 0.5em;
    max-height: 100px;
    display: grid;
    align-items: center;
    grid-gap: 0.5em;
    grid-template-columns: 50px 20px 20% auto 5%;
    grid-template-areas: "avatar status pseudonym session delete";
}

.contacts {
    max-height: 570px;
    overflow: auto;
    overflow-x: hidden;
}

.avatar {
    grid-area: avatar;
}

.pseudonym {
    grid-area: pseudonym;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.collaborative-session {
    grid-area: session;
    text-align: right;
}

.delete {
    grid-area: delete;
}

.connected {
    grid-area: status;
    width: 10px;
    height: 10px;
    border: 2px solid #c2f116;
    background-color: #c9f11686;
    border-radius: 50%;
}

.disconnected {
    grid-area: status;
    width: 10px;
    height: 10px;
    border: 2px solid #5c5c5c;
    background-color: #424242a6;
    border-radius: 50%;
}