.container {
    width: 95%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.section-container,
.albums-actions-container {
    padding: 1em;
    background-color: #222222;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 95%;
    max-height: 340px;
    margin-bottom: 1em;
    overflow: auto;
    overflow-x: hidden;
}

.albums-actions-container {
    background-color: #292929;
    margin-bottom: 1em;
}

.albums-actions {
    display: flex;
    align-items: center;
}

.albums-actions > * {
    margin-right: 1em;
}

.album-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
    grid-gap: 2em;
    justify-content: start;
    padding: initial;
}

.album {
    padding: 1em;
    text-align: center;
    width: 100px;
    height: auto;
}

.album:hover {
    cursor: pointer;
}

.album:hover > .icon {
    color: #5775b6;
}

.album>.icon {
    font-size: 64px;
    color: #7396e0;
}

.album:hover > .public-album {
    color: #57b664;
}

.album>.public-album {
    font-size: 64px;
    color: #63cf71;
}