<div class="container">
    <div class="albums-actions-container">
        <div class="albums-actions">
            <a mat-stroked-button color="primary" routerLink="/album">Retour à la liste d'albums</a>
            <mat-form-field style="width: 500px;">
                <mat-label>Rechercher</mat-label>
                <input matInput placeholder="Nom" (input)="nameFilter = $event.target.value">
            </mat-form-field>
        </div>
    </div>
    <h1>Albums</h1>
    <div class="section-container">
        <div class="album-list">
            <div *ngFor="let album of albums" class="album" (click)="joinAlbum(album)">
                <div class="icon" [ngClass]="album.owner_id == 0 ? 'public-album':''">
                    <fa-icon [icon]="albumIcon"></fa-icon>
                </div>
                <div style="word-wrap: break-word;">
                    {{album.name}}
                </div>
            </div>
        </div>
        <div style="margin-top: 1em; text-align: center; font-size: 20px;" *ngIf="albums.length == 0">
            Aucun album à rejoindre disponible
        </div>
    </div>
</div>
<app-album-join [hidden]="!showAlbumJoin" [album]="selectedAlbum" (onRequest)="afterJoin($event)" (onClose)="hideAll()"></app-album-join>