.container {
    width: 95%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.section-container,
.album-actions-container {
    padding: 1em;
    background-color: #222222;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 95%;
    max-height: 340px;
    margin-bottom: 1em;
    overflow: auto;
    overflow-x: hidden;
}

.album-actions-container {
    background-color: #292929;
    margin-bottom: 1em;
}

.album-actions {
    display: flex;
    align-items: center;
}

.album-actions > * {
    margin-right: 1em;
}

.album-body {
    max-height: 200px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "name"
    "description";
}

.album-name {
    grid-area: name;
}

.album-description {
    grid-area: description;
    color: #949494;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.drawing-list {
    margin-left: 3.5em;
    margin-right: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, max-content));
    grid-gap: 2em;
    grid-row-gap: 3em;
    justify-content: start;
    padding: initial;
}

.drawing {
    list-style-type: none;
}