<div class="container">
    <div class="album-actions-container">
        <div class="album-actions">
            <button mat-stroked-button color="primary" routerLink="/album">Retour à la liste d'albums</button>
        </div>
    </div>
    <h1>Exposition</h1>
    <div class="section-container album-body">
        <div class="album-name">
            <h1>{{album?.name}}</h1>
        </div>
        <div class="album-description">
            {{album?.description}}
        </div> 
    </div>
    <h1>Dessins</h1>
    <div class="section-container">
        <ul class="drawing-list">
            <li class="drawing" *ngFor="let drawing of drawings">
                <app-drawing-exposition
                    [drawing]="drawing"
                    (onView)="onDrawingView(drawing)"
                    [user]="user"></app-drawing-exposition>
            </li>
        </ul>
    </div>
</div>
<app-drawing-view [hidden]="!showDrawingView" [open]="showDrawingView" [drawing]="selectedDrawing" (onClose)="hideAll()"></app-drawing-view>