<div class="container">
    <div class="drawing-card">
        <div class="drawing-card-body" *ngIf="!_drawing?.was_transfered">
            <div class="drawing-card-content" (click)="navigateToDrawing()">
                <canvas
                    #drawingCanvas
                    class="drawing-canvas"
                    width="200px"
                    height="90px"
                ></canvas>
                <div>
                    <span class="content-name">Nom: </span>
                    <span class="content-body">
                        {{_drawing?.name}}
                    </span>
                </div>
                <div>
                    <span class="content-name">Propriétaire: </span>
                    <span class="content-body">
                        {{_drawing?.owner}}
                    </span>
                </div>
                <div>
                    <span class="content-name">Collaborateurs actifs: </span>
                    <span class="content-body" [style.color]="activeCollaboratorsColor">
                        {{_drawing?.active_collaborators || 0}}
                    </span>
                </div>
                <div>
                    <span class="content-name">Créé à: </span>
                    <span class="content-body">
                        {{_drawing?.created_at.format("yyyy-MM-DD HH:mm:ss")}}
                    </span>
                </div>
            </div>
            <div class="centered" *ngIf="!_drawing?.is_exposed && _drawing?.album_id > 0">
                <button mat-stroked-button color="primary" (click)="addDrawingToExposition()">
                    Ajouter à l'exposition
                </button>
            </div>
            <div class="centered" *ngIf="_drawing?.is_exposed && _drawing?.album_id > 0">
                <button mat-stroked-button color="warn" (click)="removeDrawingFromExposition()">
                    Retirer de l'exposition
                </button>
            </div>
            <div class="centered" *ngIf="isOwner && _drawing?.album_id == 0">
                <button *ngIf="!_drawing?.is_password_protected" mat-stroked-button color="primary" (click)="setPassword()">Définir un mot de passe</button>
                <button *ngIf="_drawing?.is_password_protected" mat-stroked-button color="warn" (click)="unsetPassword()">Retirer le mot de passe</button>
            </div>
            <div class="centered">
                <button *ngIf="isOwner" style="margin-right:0.25em" mat-stroked-button color="primary" (click)="modify()">Modifier</button>
                <button style="margin-left:0.25em" mat-stroked-button color="accent" (click)="view()">Visualiser</button>
            </div>
        </div>
        <div class="drawing-card-transfered" *ngIf="_drawing?.was_transfered">
            Le dessin <i class="content-name">{{_drawing?.name}}</i> a été transféré vers un autre album.
            <a style="margin-top:1em" routerLink="/album/{{_drawing?.album_id}}" mat-stroked-button color="primary">Aller au nouvel album</a>
        </div>
    </div>
    <button *ngIf="!isOwner && _drawing?.is_password_protected" class="lock-btn" mat-icon-button color="warn" (click)="setPassword()">
        <fa-icon [icon]="lockIcon"></fa-icon>
    </button>
    <button *ngIf="isOwner" class="delete-btn" mat-icon-button color="warn" (click)="delete()">
        <fa-icon [icon]="deleteIcon"></fa-icon>
    </button>
</div>