.drawing-card {
    background-color: #2b2b2b;
    width: 250px;
    height: 300px;
    overflow: auto;
    overflow-x: hidden;
    box-shadow: 5px 7px 4px 0px rgba(27, 27, 27, 0.062);
}

.container {
    position: relative;
}

.drawing-card:hover {
    background-color: #313131;
    cursor: pointer;
}

.drawing-card-body {
    padding: 1em;
    position: relative;
}

.drawing-card-transfered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.drawing-canvas {
    width: 100%;
    background-color: white;
}

.content-name {
    color: #969696;
}

.content-body {
    max-width: 80%; 
    word-wrap: break-word;
}

.centered {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-btn {
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 20px;
}

.delete-btn:hover {
    color: var(--warn-hover);
}

.lock-btn {
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 20px;
}