.modal {
    width: 40%;
}

.content {
    padding-bottom: 1em;
    padding-top: 1em;
    display: flex;
    flex-flow: row wrap;
}

.small-size {
    flex: 0 1 55%;
}

.full-size {
    flex: 1 1 100%;
}

textarea {
    min-height: 50px;
}