<div class="modal-container">
    <div class="modal">
        <div class="modal-header">
            Création d'un album
        </div>
        <div class="modal-content">
            <div class="content">
                <mat-form-field class="small-size">
                    <mat-label [ngClass]="hasError('name') ? 'error':''">Nom</mat-label>
                    <input matInput maxlength="50" [disabled]="isCreating" [value]="name" (input)="name = $event.target.value">
                </mat-form-field>
                <mat-form-field class="full-size">
                    <mat-label [ngClass]="hasError('description') ? 'error':''">Description</mat-label>
                    <textarea autosize matInput [disabled]="isCreating" [value]="description" (input)="description = $event.target.value"></textarea>
                </mat-form-field>
                <div style="justify-content: center; flex: 1 1 100%;">
                    <button mat-raised-button color="primary" [disabled]="isCreating" (click)="createAlbum()">Créer</button>
                </div>
            </div>
            <div class="modal-content-bottom-section">
                <button mat-stroked-button color="accent" [disabled]="isCreating" (click)="close()">Annuler</button>
            </div>
        </div>
    </div>
</div>