.container {
    overflow: auto;
    overflow-y: hidden;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 60px auto 60px;
    grid-template-areas: "start layers end";
}

.layer {
    height: 100%;
    flex: 0 0 125px;
}

.layers {
    margin-left: 0.625em;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    gap: 0.5em;
}

.start {
    display: flex;
    grid-area: start;
}

.end {
    display: flex;
    grid-area: end;
}

::ng-deep button.navigate-btn {
    padding: 0em !important;
    min-width: 30px !important;
}