<div #container class="container">
    <div class="start">
        <button 
            [disabled]="currentIndex == 0" 
            (click)="setIndex(0)" 
            class="navigate-btn" 
            mat-stroked-button 
            color="accent">«</button>
        <button 
            [disabled]="currentIndex == 0" 
            (click)="setIndex(currentIndex - 1)" 
            class="navigate-btn" 
            mat-stroked-button 
            color="accent"><</button>
    </div>
    <div class="layers">
        <div class="layer" *ngFor="let layer of layers; index as i" id="layer-{{i}}">
            <app-layer 
                (onDelete)="deleteSelection()" 
                (onLayerIndexChange)="changeLayer($event, (currentIndex * NUM_ELEMENTS_VISIBLE) + i)" 
                [maxLayer]="maxLayer"
                [layerIndex]="(currentIndex * NUM_ELEMENTS_VISIBLE) + i" 
                [layer]="layer" 
                [disableMove]="currentSelection != undefined"
                [isCurrentSelection]="currentSelection == layer"></app-layer>
        </div>
    </div>
    <div class="end">
        <button 
            [disabled]="currentIndex == lastIndex" 
            (click)="setIndex(currentIndex + 1)" 
            class="navigate-btn" 
            mat-stroked-button 
            color="accent">></button>
        <button 
            [disabled]="currentIndex == lastIndex" 
            (click)="setIndex(lastIndex)" 
            class="navigate-btn" 
            mat-stroked-button 
            color="accent">»</button>
    </div>
</div>