<div class="color-container">
    <label>Nouvelle couleur</label>
    <div class="color-element" [style.background-color]="newColorStr"></div>
</div>
<canvas
    #canvas
    class="color-palette"
    (mousemove)="onMouseMove($event)"
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp()"
    (mouseenter)="onMouseEnter($event)"
    [attr.width]="canvasWidth"
    [attr.height]="canvasHeight"
></canvas>
<div
    class="selection"
    [style.top.px]="selectionPos.y"
    [style.left.px]="selectionPos.x"
    [style.height.px]="SELECTION_RADIUS * 2"
    [style.width.px]="SELECTION_RADIUS * 2"
></div>
<app-color-slider #colorslider (colorHueChange)="colorHueChanged($event)"></app-color-slider>
<mat-form-field class="hex-input">
    <mat-label>Valeur RGB (HEX)</mat-label>
    <input matInput type="text" [value]="colorHexCode" (change)="hexCodeChanged($event.target.value)" [maxLength]="HEX_CODE_LENGTH + 1" />
    <mat-hint *ngIf="hexCodeError" class="error"> Veuillez entrer un code hexadécimal valide</mat-hint>
</mat-form-field>
<div class="btn-container">
    <button mat-raised-button color="primary" (click)="confirm()">Ok</button>
    <button mat-raised-button color="primary" (click)="cancel()">Annuler</button>
</div>
