.color-palette {
    border: 1px solid #969696;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.selection {
    border-radius: 50px;
    border: 2px solid white;
    background-color: rgba($color: #ffffff, $alpha: 0.25);
    position: absolute;
    width: 10px;
    height: 10px;
    pointer-events: none;
}

.color-container {
    text-align: left;
    display: inline-block;
    width: 100%;
}

.color-element {
    border: 1px solid #969696;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
}

.btn-container {
    margin-top: 10px;
    text-align: center;
}

button {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

label {
    font-size: 16px;
}

.hex-input {
    margin-top: 5px;
    width: 100%;
}

.error {
    color: #ce3f3f;
}
