.room {
    position: relative;
}

.room .content:hover {
    background-color: #2c2c2c;
    cursor: pointer;
}

.room .actions {
    position: absolute;
    right: 0;
    top: -5px;
}

.room .notification {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    border: 2px solid var(--primary-color);
    background-color: #e91e627a;
    border-radius: 50%;
}

.room .content {
    background-color: var(--dark-box);
    padding: 2em 0.25em 0.25em 0.25em;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    margin-bottom: 0.25em;
}

.room.selected {
    background-color: #2c2c2c;
    color: var(--primary-color);
}

.rooms-container {
    height: 100%;
    display: flex;
    width: 100%;
    background: #424242;
    padding-right: 1.5em;
    flex-direction: column;
}

.room-list {
    width: 100%;
    max-height: 750px;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    padding: 0.75em;
}

.list-actions {
    margin: 0;
    padding: 0.75em;
    text-align: right;
    width: 100%;
    overflow: hidden;
}