<div class="rooms-container">
    <div class="room-list">
        <div class="room" [ngClass]="selectedRoomId == room.id ? 'selected':''" *ngFor="let room of rooms">
            <div class="notification" *ngIf="room.has_notification"></div>
            <div class="actions" *ngIf="room.id > 0">
                <button mat-icon-button color="warn" *ngIf="isOwner(room)" (click)="deleteRoom(room)"><fa-icon [icon]="deleteIcon"></fa-icon></button>
                <button mat-icon-button color="warn" (click)="leaveRoom(room)"><fa-icon [icon]="removeIcon"></fa-icon></button>
            </div>
            <div class="content" (click)="selectRoom(room)">
                {{room.name}}
            </div>
        </div>
    </div>
    <div class="list-actions">
        <button mat-mini-fab color="primary" (click)="openRoomMenu()"><fa-icon [icon]="addIcon"></fa-icon></button>
    </div>
</div>
<app-chat-menu *ngIf="showChatMenu" (onClose)="showChatMenu = false" (onAdd)="addRoom($event)"></app-chat-menu>
<app-confirm [hidden]="!confirming" [message]="confirmText" (onCancel)="confirming = false" (onConfirm)="onDelete()"></app-confirm>