.container {
    width: 95%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.section-container,
.album-actions-container {
    padding: 1em;
    background-color: #222222;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 95%;
    max-height: 335px;
    margin-bottom: 1em;
    overflow: auto;
    overflow-x: hidden;
}

.album-actions-container {
    max-height: 200px;
}

.album-actions-container {
    background-color: #292929;
    margin-bottom: 1em;
}

.album-actions {
    display: flex;
    align-items: center;
}

.album-actions > * {
    margin-right: 1em;
}

.album-body {
    max-height: 200px;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: 
    "name actions"
    "description .";
}

.album-name {
    grid-area: name;
}

.album-actions-area {
    grid-area: actions;
    justify-content: flex-end;
}

.album-description {
    grid-area: description;
    color: #949494;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.drawing-list {
    margin-left: 3.5em;
    margin-right: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, max-content));
    grid-gap: 2em;
    grid-row-gap: 3em;
    justify-content: start;
    padding: initial;
}

.drawing-animation {
    animation-name: slidein;
    animation-duration: 0.5s;
}

.drawing {
    list-style-type: none;
}

.drawing-add {
    width: 250px;
    height: 300px;
    border: 2px solid #707070;
    border-radius: 10px;
    border-style: dashed;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.drawing-add:hover {
    background-color: #3d3d3d;
    cursor: pointer;
}

.drawing-add-plus {
    font-size: 60px;
}

.filter-container {
    width: 100%;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 15% 25% 25% 30%;
    grid-template-areas: "search name pseudonym date";
}

.search {
    margin-top: 0.5em;
    display: flex;
    grid-area: search;
    align-items: flex-start;
    justify-content: center;
}

.search-btn {
    font-size: 20px;
}

.name,
.pseudonym,
.date {
    background-color: var(--dark-box);
    padding: 1em;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 5px 7px 4px 0px rgba(27, 27, 27, 0.062);
}

.name {
    grid-area: name;
}

.pseudonym {
    grid-area: pseudonym;
}

.date {
    text-align: center;
    grid-area: date;
}

.date>mat-form-field {
    margin-left: 1em;
    margin-right: 1em;
}