<div class="container">
    <div class="album-actions-container">
        <div class="album-actions">
            <div class="filter-container">
                <div class="search">
                    <button mat-stroked-button color="primary" routerLink="/album">Retour à la liste d'albums</button>
                    <button class="search-btn" mat-icon-button color="primary" (click)="search()"><fa-icon [icon]="searchIcon"></fa-icon></button>
                </div>
                <div class="name">
                    <mat-form-field style="width: 100%">
                        <mat-label>Nom de dessin</mat-label>
                        <input #nameFilter (change)="setNameFilter($event.target.value)" autocomplete="off" matInput>
                    </mat-form-field>
                    <div *ngFor="let name of namesFilter; index as i">
                        <mat-form-field style="width: 85%">
                            <mat-label>Nom de dessin</mat-label>
                            <input (change)="namesFilter[i] = $event.target.value" [value]="name" autocomplete="off" matInput>
                        </mat-form-field>
                        <button mat-icon-button color="warn" (click)="namesFilter.splice(i, 1)">
                            <fa-icon [icon]="deleteIcon"></fa-icon>
                        </button>
                    </div>
                </div>
                <div class="pseudonym">
                    <mat-form-field style="width: 100%">
                        <mat-label>Propriétaire</mat-label>
                        <input #pseudonymFilter (change)="setPseudonymFilter($event.target.value)" autocomplete="off" matInput>
                    </mat-form-field>
                    <div *ngFor="let pseudonym of pseudonymsFilter; index as i" >
                        <mat-form-field style="width: 85%">
                            <mat-label>Propriétaire</mat-label>
                            <input (change)="pseudonymsFilter[i] = $event.target.value" [value]="pseudonym" autocomplete="off" matInput>
                        </mat-form-field>
                        <button mat-icon-button color="warn" (click)="pseudonymsFilter.splice(i, 1)">
                            <fa-icon [icon]="deleteIcon"></fa-icon>
                        </button>
                    </div>
                </div>
                <div class="date">
                    <mat-form-field>
                        <mat-label>Date de début</mat-label>
                        <input (dateChange)="startDateFilter = $event.target.value" autocomplete="off" matInput [matDatepicker]="startDate">
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Date de fin</mat-label>
                        <input (dateChange)="endDateFilter = $event.target.value" autocomplete="off" matInput [matDatepicker]="endDate">
                        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <h1>Album</h1>
    <div class="section-container album-body">
        <div class="album-actions album-actions-area" *ngIf="album?.id > 0">
            <button (click)="editAlbum()" *ngIf="isOwner()" mat-raised-button color="primary">Modifier</button>
            <button (click)="removeAlbum()" *ngIf="isOwner()" mat-raised-button color="warn">Supprimer</button>
            <button (click)="removeAlbum()" *ngIf="!isOwner()" mat-raised-button color="warn">Quitter</button>
        </div>
        <div class="album-name">
            <h1>{{album?.name}}</h1>
        </div>
        <div class="album-description">
            {{album?.description}}
        </div> 
    </div>
    <h1>Dessins</h1>
    <div class="section-container">
        <ul class="drawing-list">
            <li class="drawing-add" (click)="createDrawing()">
                <div class="drawing-add-plus">+</div>
            </li>
            <li class="drawing" [ngClass]="hasInitialized ? '':'drawing-animation'" *ngFor="let drawing of drawings">
                <app-drawing-card 
                    [drawing]="drawing"
                    (onSetPassword)="setPassword(drawing)"
                    (onEdit)="editDrawing(drawing)" 
                    (onDelete)="deleteDrawing(drawing)" 
                    (onView)="onDrawingView(drawing)"></app-drawing-card>
            </li>
        </ul>
    </div>
</div>
<app-drawing-create 
    [hidden]="!showDrawingCreate" 
    [albumId]="album?.id" 
    [open]="showDrawingCreate" 
    (onCreated)="drawingCreated($event)" 
    (onClose)="hideAll()"></app-drawing-create>
<app-album-edit [hidden]="!showAlbumEdit" [album]="editingAlbum" (onEdit)="albumEdited($event)" (onClose)="hideAll()"></app-album-edit>
<app-confirm [hidden]="!confirming && !deletingDrawing" [message]="confirmMessage" (onCancel)="hideAll()" (onConfirm)="confirmed()"></app-confirm>
<app-drawing-edit [hidden]="!showDrawingEdit" [open]="showDrawingEdit" [drawing]="selectedDrawing" (onClose)="hideAll()" (onEdit)="onDrawingEdit($event)"></app-drawing-edit>
<app-drawing-view [hidden]="!showDrawingView" [open]="showDrawingView" [drawing]="selectedDrawing" (onClose)="hideAll()"></app-drawing-view>
<app-drawing-set-password [drawing]="selectedDrawing" *ngIf="isSettingPassword" (onCancel)="hideAll()" (onConfirm)="passwordSet($event)"></app-drawing-set-password>