<div>
    <label>Largeur du trait</label>
    <app-slider
        (valueChange)="attributeChanged(LINE_WIDTH_KEY, $event)"
        [min]="LINE_WIDTH_MIN"
        [max]="LINE_WIDTH_MAX"
        [value]="getAttribute(LINE_WIDTH_KEY, LINE_WIDTH_MIN)"
        unit="px"
    ></app-slider>
</div>
