.layer {
    width: 100%;
    height: 100%;
    background-color: var(--dark-box);
}

.edit-layer {
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: "left edit right";
}

.caret-left,
.caret-right {
    width: 100%;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    color: #b4b4b4;
}

.caret-left {
    grid-area: left;
}

.caret-right {
    grid-area: right;
}

.caret-left:hover,
.caret-right:hover {
    font-size: 22px;
    color: #dbdbdb;
    cursor: pointer;
}

.editing-layer {
    text-align: center;
}

.layer-index {
    grid-area: edit;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

:not(.layer-index-disabled).layer-index:hover {
    cursor: pointer;
    border: 1px dashed white;
    border-radius: 5px;
    color:rgb(214, 214, 214);
}

:not(.selected):not(.current-selection).layer:hover {
    cursor: pointer;
    background-color: #2e2e2e;
}

.selected-text {
    position: relative;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

.selected-text>button {
    position: absolute;
    top: -15px;
    right: -40px;
}

.selected {
    background-color: rgba(139, 204, 101, 0.164);
    border-top: 2px solid rgb(135, 223, 20);
}

.current-selection {
    background-color: rgba(101, 142, 204, 0.164);
    border-top: 2px solid rgb(20, 132, 223);
}

.preview {
    padding-top: 0.5em;
    display: flex;
    justify-content: center;
}

.layer-canvas {
    width: 80%;
    text-align: center;
    background-color: white;
}

.actions {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
}