<div class="layer" [ngClass]="selectionClass" >
    <div class="preview" (click)="select()">
        <canvas
            [hidden]="isEditing"
            id="layer-canvas"
            #layerCanvas
            class="layer-canvas"
            width="200px"
            height="100px"
            ></canvas>
    </div>
    <div class="actions">
        <div *ngIf="isCurrentSelection" class="selected-text">
            Sélectionné
            <button mat-icon-button color="warn" (click)="onDelete.emit()"><fa-icon [icon]="deleteIcon"></fa-icon></button>
        </div>
        <div *ngIf="isSelected && !isCurrentSelection" class="selected-text">Sélectionné par un collaborateur</div>
        <div *ngIf="!isSelected && !isEditing" class="edit-layer">
            <fa-icon *ngIf="layerIndex > 0 && !disableMove" class="caret-left" (click)="moveIndex(-1)" [icon]="leftIcon"></fa-icon>
            <div class="layer-index" [ngClass]="disableMove ? 'layer-index-disabled':''" (click)="editLayer()">
                <span>
                    {{layerIndex}}
                </span>
                <fa-icon style="margin-left: 1em;" [icon]="editIcon"></fa-icon>
            </div>
            <fa-icon *ngIf="layerIndex != maxLayer && !disableMove" class="caret-right" (click)="moveIndex(1)" [icon]="rightIcon"></fa-icon>
        </div>
        <div class="editing-layer" [hidden]="!isEditing">
            <mat-form-field style="width:40%;">
                <input 
                    (keydown.enter)="confirmEdit()"
                    matInput 
                    #editInput 
                    [value]="layerIndexEdit" 
                    type="number" 
                    min="0" 
                    max="maxLayer" 
                    (input)="setLayerIndex($event.target.value)">
            </mat-form-field>
            <div>
                <button mat-icon-button color="primary" (click)="confirmEdit()"><fa-icon [icon]="confirmIcon"></fa-icon></button>
                <button mat-icon-button color="warn" (click)="cancelEdit()"><fa-icon [icon]="cancelIcon"></fa-icon></button>
            </div>
        </div>
    </div>
</div>