.avatar {
    border-radius: 1000px;
    background-color: rgb(43, 43, 43);
    border: 2px solid #5a5a5a;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
}

.avatar:hover {
    background-color: rgb(54, 54, 54);
    cursor: pointer;
}

.avatar-img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
}
