<div>
    <label>Police de caractère</label>
    <app-select
        [valueLabels]="fonts"
        [values]="fonts"
        [value]="getAttribute(FONT_KEY, FONT_DEFAULT)"
        (valueChange)="attributeChanged(FONT_KEY, $event)"
    ></app-select>
    <label>Taille de la police</label>
    <app-slider
        (valueChange)="attributeChanged(FONT_SIZE_KEY, $event)"
        [min]="FONT_SIZE_MIN"
        [max]="FONT_SIZE_MAX"
        [value]="getAttribute(FONT_SIZE_KEY, FONT_SIZE_DEFAULT)"
    ></app-slider>
    <app-slide-toggle
        [label]="BOLD_LABEL"
        [value]="getAttribute(BOLD_KEY, BOLD_DEFAULT)"
        (valueChange)="attributeChanged(BOLD_KEY, $event)"
    ></app-slide-toggle>
    <br />
    <app-slide-toggle
        [label]="ITALIC_LABEL"
        [value]="getAttribute(ITALIC_KEY, ITALIC_DEFAULT)"
        (valueChange)="attributeChanged(ITALIC_KEY, $event)"
    ></app-slide-toggle>
    <br />
    <label>Alignement</label>
    <div>
        <mat-button-toggle-group [value]="getAttribute(ALIGNMENT_KEY, ALIGNMENT_DEFAULT)" (change)="setAlignment($event.value)">
            <mat-button-toggle value="left" title="Gauche">
                <mat-icon>format_align_left</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="center" title="Centre">
                <mat-icon>format_align_center</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="right" title="Droite">
                <mat-icon>format_align_right</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>
