<div class="container">
    <div style="margin-left: 1em;">
        <a mat-stroked-button color="primary" routerLink="/album">Retour à l'accueil</a>
    </div>
    <div class="contact-info-container">
        <app-avatar-edit [disabled]="true" [imgSrc]="user?.avatar"></app-avatar-edit>
        <div class="contact-info">
            <div class="contact-pseudonym">
                {{user?.pseudonym}}
            </div>
            <div class="contact-email">
                {{user?.email}}
            </div>
        </div>
        <div class="contact-actions">
            <button mat-raised-button color="primary" *ngIf="!user?.is_contact" (click)="addContact()">Ajouter aux contacts</button>
            <button mat-raised-button color="warn" *ngIf="user?.is_contact" (click)="removeContact()">Supprimer des contacts</button>
        </div>
    </div>
    <div class="expositions-panel">
        <div class="section-header">
            Expositions
        </div>
        <div class="section-body">
            <div style="text-align: center; font-size: 18px;" *ngIf="expositions.length == 0">
                Le contact n'a aucune exposition
            </div>
            <div #expositionsContainer class="expositions" (wheel)="scrollExpositions($event)">
                <div *ngFor="let album of expositions" class="exposition">
                    <a class="icon" routerLink="/exposition/{{album.id}}">
                        <fa-icon [icon]="albumIcon"></fa-icon>
                    </a>
                    <div style="word-wrap: break-word;">
                        {{album.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="drawings-panel">
        <div class="section-header">
            Historique d'édition de dessins
        </div>
        <div class="section-body">
            <div style="text-align: center; font-size: 18px;" *ngIf="collaborativeSessions.length == 0">
                Aucun historique d'édition de dessins
            </div>
            <div class="collaboration-header" *ngIf="collaborativeSessions.length > 0">
                <span>Dessin</span>
                <span>Album</span>
                <span>Date</span>
                <span></span>
            </div>
            <div class="collaboration-body" *ngIf="collaborativeSessions.length > 0">
                <div class="session-entry" *ngFor="let entry of collaborativeSessions">
                    <span style="margin-left: 1em;">
                        {{entry.drawing}}
                    </span>
                    <span>
                        <span *ngIf="!isAlbumMember(entry.album_id)">{{entry.album}}</span>
                        <a *ngIf="isAlbumMember(entry.album_id)" style="text-decoration: none; color: #3a96e2" routerLink="/album/{{entry.album_id}}">{{entry.album}}</a>
                    </span>  
                    <span>
                        <span>
                            {{entry.start_time.locale("fr").format("dddd")}}
                        </span>
                        <span>
                            {{entry.start_time.locale("fr").format("DD MMMM YYYY")}}
                        </span>
                        <span>
                            {{entry.start_time.locale("fr").format("hh:mm:ss a")}}
                        </span>
                    </span>  
                    <span>
                        <a *ngIf="isAlbumMember(entry.album_id)" mat-stroked-button color="primary" (click)="routeToDrawing(entry)">
                            Éditer le dessin
                        </a>
                        <button 
                            *ngIf="!isAlbumMember(entry.album_id)" 
                            [disabled]="isPendingJoin(entry.album_id)" 
                            mat-stroked-button
                            (click)="joinAlbum(entry.album_id)" 
                            color="primary">
                            Rejoindre l'album
                        </button>
                    </span> 
                </div>
            </div>
        </div>
    </div>
</div>
<app-confirm [hidden]="!confirming" [message]="confirmText" (onCancel)="confirming = false" (onConfirm)="onRemoveContact()"></app-confirm>
<app-drawing-confirm-password [drawingId]="selectedDrawingId" *ngIf="isSettingPassword" (onCancel)="hideAll()" (onConfirm)="editDrawing(selectedDrawingId)"></app-drawing-confirm-password>