.container {
    width: 95%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    align-items: flex-start;
    grid-template-rows: 10% 40% 45%;
    grid-auto-columns: 50% 50%;
    grid-template-areas: 
    "back ."
    "user user"
    "expositions drawings";
}

.expositions-panel {
    grid-area: expositions;
}

.drawings-panel {
    grid-area: drawings;
}

.expositions-panel,
.drawings-panel {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    background-color: #222222;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.expositions {
    display: flex;
    width: 100%;
    flex-direction: row;
    overflow: auto;
    gap: 2em;
    overflow-y: hidden;
}

.exposition {
    text-align: center;
    width: 100px;
    height: auto;
    position: relative;
}

.exposition>.icon:hover {
    color: #5775b6;
    cursor: pointer;
}

.exposition>.icon {
    font-size: 64px;
    color: #7396e0;
}

.section-header {
    padding: 1em;
    display: flex;
    font-weight: 400;
    font-size: 22px;
}

.section-body {
    padding: 1em;
    background-color: #292929;
}

.collaboration-header {
    display: grid;
    grid-template-columns: 25% 20% 35% 10%;
    margin-left: 1em;
    font-size: 18px;
    color: #949494;
    padding: 0em 1em 1em 0em;
}

.collaboration-body {
    max-height: 200px;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.session-entry {
    display: grid;
    font-size: 16px;
    align-items: center;
    grid-template-columns: 25% 20% 35% 10%;
    background-color: #418ace07;
    border-left: 2px solid #415bce;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    padding: 0.25em;
}

.session-entry>span {
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.contact-info-container {
    grid-area: user;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 200px;
    display: grid;
    padding: 2em;
    background-color: #222222;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-template-columns: max(220px, 15%) 30% 55%;
    grid-template-areas: "avatar contact-info contact-actions";
}

.contact-info {
    padding-top: 3em;
    grid-area: contact-info;
}

.contact-pseudonym {
    width: fit-content;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 1em;
    padding: 0.25em;
}

.contact-email {
    color: #949494;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.contact-actions {
    grid-area: contact-actions;
    text-align: right;
}