.chat {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.chat-log {
    background: var(--dark-box);
    width: 100%;
    flex: 0 1 calc(90% - 3em);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    border-left: 0.5em solid #424242;
    border-top: 0.5em solid #424242;
    padding: 0.5em;
}

.chat-form textarea {
    resize: none;
    height: 34px;
}

@keyframes slidein {
    from { transform: translateX(150%); }
    to { transform: translateX(0%); }
}

.chat-form {
    padding: 2em 0.5em 1em 0.5em;
    margin: 0;
    background-color: #424242;
    border-left: 0.5em solid #424242;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.chat-form>button {
    margin-right: 1em;
}

.message-input {
    width: 80%;
    right: 0;
}

.message-type {
    position: absolute;
    top: 0;
    right: 50px;
    font-size: 18px;
}

.message-types {
    display: flex;
    flex-direction: column;
}

.message-types>button {
    font-size: 16px;
}

:not(span).tagged {
    background-color: #1e65e90a;
    border-left: 1px solid #1e65e9;
}

span.tagged {
    color: #1e65e9;
}

:not(button):not(span).urgent-type {
    background-color: #e0131307;
    border-left: 1px solid #df3838;
}

button.urgent-type, 
span.urgent-type {
    color: #ce3f3f;
}

.urgent-type.selected-type {
    background-color: #6d1f1f63;
}

:not(button):not(span).information-type {
    background-color: #d6bb2509;
    border-left: 1px solid #ceb93f;
}

button.information-type, 
span.information-type {
    color: #ceb93f;
}

.information-type.selected-type {
    background-color: #796b1e5e;
}

:not(button):not(span).announcement-type {
    background-color: #d1602c0e;
    border-left: 1px solid #ce6c3f;
}

button.announcement-type, 
span.announcement-type {
    color: #ce6c3f;
}

.announcement-type.selected-type {
    background-color: #7e42264f;
}

.replying {
    background-color: #1d1d1d;
    padding: 0.5em;
    margin-top: 2em;
    position: relative;
    align-items: center;
    flex: 0 0 3%;
}

.replying:hover {
    cursor: pointer;
}

.stop-reply {
    position: absolute;
    top: -8px;
    right: -5px;
}

.members-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.75em;
    flex: 1 0 30%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    background-color: #2c2c2c;
    overflow: auto;
    overflow-x: hidden;
}

.member {
    display: flex;
    width: 100%;
    padding: 0.25em;
    justify-content: flex-start;
    align-items: center;
}

.member:hover {
    background-color: #1d1d1d;
    cursor: pointer;
}

.member>app-avatar {
    flex: 0 0 15%;
    padding-left: 2em;
}

.member-name {
    flex: 0 0 85%;
}

.messages {
    flex: 1 1 100%;
}

.message {
    margin-top: 0.5em; 
    display: flex;
    flex-direction: column;
}

.message-body {
    animation-name: slidein;
    animation-duration: 0.5s;
    padding: 0.5em;
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-areas:
    "avatar user"
    "avatar message";
}

.reply-to {
    padding: 0.5em;
}

.reply-to:hover {
    cursor: pointer;
}

.reply-message-preview {
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #969696;
}

.reply-to,
.reply-message-highlight {
    animation-name: slidein;
    animation-duration: 0.5s;
    background-color: #8f36f433;
    border-left: 1px solid #8f36f4;
}

.reply-highlight {
    background-color: #e91e6228;
    border-left: 1px solid var(--primary-color);
}

.reply-highlight:hover {
    background-color: #e91e623f;
}

:not(.reply-highlight).message-body:hover {
    background-color: #2c2c2c;
}

.avatar {
    grid-area: avatar;
}

.message-info {
    grid-area: user;
    position: relative;
}

.message-info>.user {
    font-weight: bold;
    padding-right: 0.25em;
    text-decoration: none;
}

.message-info>.user:hover {
    cursor: pointer;
}

.message-info>.time {
    color: #969696;
}

.message-info>.reply {
    display: none;
    color: #969696;
    position: absolute;
    top: -20px;
    right: 0;
}

.message-body:hover .reply {
    display: block;
}

.message-body>.content {
    grid-area: message;
    color: white;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}