<div class="chat">
    <div class="chat-log" #chat (scroll)="onScroll()">
        <div class="messages">
            <div class="message" *ngFor="let message of messages" id="message-{{message.id}}">
                <div class="reply-to" 
                    (click)="scrollToMessage(message.reply_to)"
                    *ngIf="message.reply_to > 0" 
                    (mouseenter)="highlightReplyMessage(message)" 
                    (mouseleave)="stopHighlightReplyMessage()">
                    <div>
                        Réponse à 
                        <span [style.color]="getUserColor(getReplyMessage(message.reply_to)?.user_id)">
                            {{getReplyMessage(message.reply_to)?.user}}
                        </span>
                    </div>
                    <div class="reply-message-preview">
                        {{getReplyMessage(message.reply_to)?.message || message.reply_message}}
                    </div>
                </div>
                <div class="message-body" [ngClass]="getMessageHighlightClass(message)">
                    <app-avatar class="avatar" [imgSrc]="getUserAvatar(message.user_id)" (click)="navigateToUser(message.user_id)"></app-avatar>
                    <div class="message-info">
                        <span class="user" [style.color]="getUserColor(message.user_id)" (click)="navigateToUser(message.user_id)">{{message.user}}</span>
                        <span class="time">{{message.sent_at.format('yyyy-MM-DD HH:mm:ss')}}</span>
                        <button *ngIf="replyingTo?.id != message.id" mat-mini-fab color="basic" class="reply" (click)="replyTo(message)">
                            <fa-icon [icon]="replyIcon"></fa-icon>
                        </button>
                        <div class="message-type">
                            <span class="urgent-type" *ngIf="message.message_type == urgentType">
                                <fa-icon [icon]="urgentTypeIcon"></fa-icon>
                            </span>
                            <span class="information-type" *ngIf="message.message_type == informationType">
                                <fa-icon [icon]="informationTypeIcon"></fa-icon>
                            </span>
                            <span class="announcement-type" *ngIf="message.message_type == announcementType">
                                <fa-icon [icon]="announcementTypeIcon"></fa-icon>
                            </span>
                            <span class="tagged" *ngIf="isTagged(message)">
                                <fa-icon [icon]="taggedIcon"></fa-icon>
                            </span>
                        </div>
                    </div>
                    <span class="content">{{message.message}}</span>
                </div>
            </div>
        </div>
        <div class="replying" *ngIf="replyingTo" (click)="scrollToMessage(replyingTo?.id)">
            <button class="stop-reply" mat-icon-button color="warn" (click)="stopReply()"><fa-icon [icon]="stopReplyIcon"></fa-icon></button>
            Réponse à <b [style.color]="getUserColor(replyingTo?.user_id)">{{replyingTo?.user}}</b>
        </div>
        <div class="members-container" *ngIf="showMembers">
            <h2>Membres</h2>
            <div class="member" *ngFor="let member of members" (click)="completeUserTag(member)">
                <app-avatar [imgSrc]="member.avatar"></app-avatar>
                <b class="member-name" [style.color]="getUserColor(member.id)">
                    {{member.pseudonym}}
                </b>
            </div>
        </div>
    </div>
    <div class="chat-form">
        <button mat-stroked-button (click)="sendMessage()" color="primary"><fa-icon [icon]="sendIcon"></fa-icon></button>
        <mat-form-field class="message-input slide-in" (keyup)="autoGrowInput($event)">
            <mat-label>Message</mat-label>
            <textarea
                    matInput
                    #msg
                    autofocus
                    autocomplete="off"
                    (keydown.enter)="sendMessage()"
                    [value]="message"
                    maxlength="240"
                    (input)="setMessage($event.target.value)"
                    ></textarea>
        </mat-form-field>
        <div class="message-types">
            <button 
                mat-icon-button 
                (click)="setMessageType(urgentType)" 
                [ngClass]="messageType == urgentType ? 'selected-type':''" 
                class="urgent-type">
                <fa-icon [icon]="urgentTypeIcon"></fa-icon>
            </button>
            <button 
                mat-icon-button 
                (click)="setMessageType(informationType)" 
                [ngClass]="messageType == informationType ? 'selected-type':''" 
                class="information-type">
                <fa-icon [icon]="informationTypeIcon"></fa-icon>
            </button>
            <button 
                mat-icon-button 
                (click)="setMessageType(announcementType)" 
                [ngClass]="messageType == announcementType ? 'selected-type':''" 
                class="announcement-type">
                <fa-icon [icon]="announcementTypeIcon"></fa-icon>
            </button>
        </div>
    </div>
</div>
  