canvas {
    background-color: white;
}

.view-modal {
    position: relative;
    top: 30%;
    transform: translateY(-25%);
    margin: auto;
    width: 50%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drawing-view>button {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 24px;
}

.drawing-view {
    position: relative;
    background-color: var(--dark-box);
    padding: 2.5em;
}