<div class="modal-container">
    <div class="view-modal">
        <div class="drawing-view">
            <canvas #drawing></canvas> 
            <button mat-icon-button color="warn" (click)="onClose.emit()">
                <fa-icon [icon]="closeIcon"></fa-icon>
            </button>
        </div>
    </div>
</div>