<div class="modal-container">
    <div class="loading">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        Chargement ... 
    </div>
</div>