<div class="card-container">
    <span class="title">Colorimage<fa-icon [icon]="drawingIcon"></fa-icon></span>
    <div class="card">
        <div class="card-header"></div>
        <div class="card-content">
            <div>
                <mat-form-field class="input-login">
                    <mat-label [ngClass]="error ? 'error':''">Courriel</mat-label>
                    <input [disabled]="connecting" (keydown.enter)="login()" matInput (input)="loginData.email = $event.target.value">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="input-login">
                    <mat-label [ngClass]="error ? 'error':''">Mot de passe</mat-label>
                    <input [disabled]="connecting" (keydown.enter)="login()" type="password" matInput (input)="loginData.password = $event.target.value">
                </mat-form-field>
            </div>
            <div>
                <button [disabled]="connecting" mat-raised-button color="primary" (click)="login()">Connecter</button>
            </div>
            <div style="margin-top:1em">
                <a mat-button color="accent" [disabled]="connecting" routerLink="/register">Nouvel utilisateur</a>
            </div>
        </div>
    </div>

    <div class="footer-item"></div>
</div>
