.input-login {
    width: 80%;
}

.header-item {
    justify-content: center;
    text-align: center;
}

.footer-item {
    text-align: center;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}

.button {
    margin-bottom: 1em;
    width: 80%;
}

.title {
    position: relative;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #97cbe0;
}

.title>fa-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a6d3df27;
    z-index: -1;
    font-size: 92px;
}
