.import {
    width: 75px;
    height: 75px;
    border: 2px solid #707070;
    border-radius: 10px;
    border-style: dashed;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    position: relative;
}

.import:hover {
    background-color: #3d3d3d;
    cursor: pointer;
}

.import>fa-icon {
    font-size: 50px;
    position: absolute;
    z-index: 0;
    color: #ffffff42;
}

.avatar-list {
    display: flex;
    justify-content: center;
    padding: 1em;
    gap: 1em;
}

.avatar {
    width: 75px;
    height: 75px;
    border: 2px solid #707070;
    border-radius: 50px;
    overflow: hidden;
}

.avatar:hover {
    cursor: pointer;
}