<div class="modal-container">
    <div class="modal">
        <div class="modal-header">
            Avatar
        </div>
        <div class="modal-content">
            <div class="content">
                <h2>Sélectionnez un avatar</h2>
                <div class="avatar-list">
                    <div class="import" (click)="avatarInput.click()">
                        <fa-icon [icon]="importIcon"></fa-icon>
                        <input 
                            #avatarInput 
                            type="file" 
                            hidden 
                            (change)="onAvatarChange($event.target.files)" 
                            accept="image/png, image/jpeg" />
                    </div>
                    <div class="avatar" *ngFor="let avatar of avatars; index as i" (click)="setAvatar(avatar)">
                        <canvas id="avatar-canvas-{{i}}" width="75" height="75"></canvas>
                    </div>
                </div>
            </div>
            <div class="modal-content-bottom-section">
                <button mat-stroked-button color="accent" class="button" (click)="cancel()">Annuler</button>
            </div>
        </div>
    </div>
</div>