.container {
    top: 5% !important;
}

.section-container {
    padding: 1em;
    background-color: #222222;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 95%;
    max-height: 140px;
    margin-bottom: 1em;
    overflow: auto;
    overflow-x: hidden;
}

.album-list {
    animation: slidein 0.5s;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
    grid-gap: 2em;
    justify-content: start;
    padding: initial;
}

.album {
    list-style-type: none;
    text-align: center;
    width: 100px;
    height: auto;
    position: relative;
}

.actions-panel {
    position: absolute;
    top: -5px;
    right: -5px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.album-info {
    font-size: 22px;
}

.album-edit:hover,
.album-info:hover {
    color: rgb(204, 204, 204);
    cursor: pointer;
}

.album-edit {
    font-size: 20px;
}

.album-remove {
    font-size: 22px;
    color: var(--warn);
}

.album-remove:hover {
    color: var(--warn-hover);
    cursor: pointer;
}

.album>.icon:hover {
    color: #5775b6;
    cursor: pointer;
}

.album>.icon {
    font-size: 64px;
    color: #7396e0;
}

.album>.public-album:hover {
    color: #57b664;
}

.album>.public-album {
    font-size: 64px;
    color: #63cf71;
}

.container {
    width: 95%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.section-add {
    width: 100px;
    height: 100px;
    border: 2px solid #707070;
    border-radius: 10px;
    border-style: dashed;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    position: relative;
}

.section-add:hover {
    background-color: #3d3d3d;
    cursor: pointer;
}

.section-add-plus {
    font-size: 40px;
    z-index: 1;
}

.section-add>fa-icon {
    font-size: 70px;
    position: absolute;
    z-index: 0;
    color: #ffffff42;
}

.section-add-title {
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
}

fa-icon.secondary-icon {
    font-size: 30px;
}