<div class="container">
    <h1>Dessins</h1>
    <div class="section-container">
        <div class="section-add" (click)="createDrawing()">
            <div class="section-add-plus">+</div>
            <fa-icon [icon]="palette"></fa-icon>
        </div>
        <div class="section-add" style="margin-left: 2em;" (click)="searchDrawing()">
            <div class="section-add-plus">
                <fa-icon class="secondary-icon" [icon]="searchIcon"></fa-icon>
            </div>
            <fa-icon [icon]="palette"></fa-icon>
        </div>
    </div>
    <h1>Mes albums</h1>
    <div class="section-container">
        <ul class="album-list">
            <li class="section-add" (click)="createAlbum()">
                <span class="section-add-title">Créer</span>
                <div class="section-add-plus">+</div>
                <fa-icon [icon]="albumIcon"></fa-icon>
            </li>
            <li *ngFor="let album of ownedAlbums" class="album">
                <a class="icon" routerLink="/album/{{album.id}}" [ngClass]="album.owner_id == 0 ? 'public-album':''">
                    <fa-icon [icon]="albumIcon"></fa-icon>
                </a>    
                <div class="actions-panel">
                    <fa-icon [hidden]="album.id <= 0" class="album-remove" (click)="removeAlbum(album)" [icon]="albumRemove"></fa-icon>
                    <fa-icon class="album-info" (click)="showDetail(album)" [icon]="albumInfo"></fa-icon>
                    <fa-icon class="album-edit" (click)="editAlbum(album)" [icon]="albumEdit"></fa-icon>
                </div>
                <div style="word-wrap: break-word;">
                    {{album.name}}
                </div>
            </li>
        </ul>
    </div>
    <h1>Albums membre</h1>
    <div class="section-container">
        <ul class="album-list">
            <li class="section-add" routerLink="/albumList">
                <span class="section-add-title">Rejoindre</span>
                <div class="section-add-plus"><fa-icon class="secondary-icon" [icon]="usersIcon"></fa-icon></div>
                <fa-icon [icon]="albumIcon"></fa-icon>
            </li>
            <li *ngFor="let album of joinedAlbums" class="album">
                <a class="icon" routerLink="/album/{{album.id}}" [ngClass]="album.owner_id == 0 ? 'public-album':''">
                    <fa-icon [icon]="albumIcon"></fa-icon>
                </a>    
                <div class="actions-panel">
                    <fa-icon [hidden]="album.id <= 0" class="album-remove" (click)="removeAlbum(album)" [icon]="albumLeave"></fa-icon>
                    <fa-icon class="album-info" (click)="showDetail(album)" [icon]="albumInfo"></fa-icon>
                </div>
                <div style="word-wrap: break-word;">
                    {{album.name}}
                </div>
            </li>
        </ul>
    </div>
    <h1>Expositions de dessins</h1>
    <div class="section-container">
        <ul class="album-list">
            <li *ngFor="let album of expositions" class="album">
                <a class="icon" routerLink="/exposition/{{album.id}}">
                    <fa-icon [icon]="albumIcon"></fa-icon>
                </a>
                <div style="word-wrap: break-word;">
                    {{album.name}}
                </div>
            </li>
            <li style="list-style-type: none; font-size: 16px;" *ngIf="expositions.length == 0">
                Aucun album n'a des dessins en exposition
            </li>
        </ul>
    </div>
</div>
<app-album-detail [album]="selectedAlbum" [hidden]="!showAlbumDetail" (onEdit)="editAlbum($event)" (onRemove)="onRemoveAlbum($event)" (onClose)="hideAll()"></app-album-detail>
<app-album-create [hidden]="!showAlbumCreate" (onCreated)="albumCreated($event)" (onClose)="hideAll()"></app-album-create>
<app-album-edit [hidden]="!showAlbumEdit" [album]="selectedAlbum" (onEdit)="albumEdited($event)" (onClose)="hideAll()"></app-album-edit>
<app-confirm [hidden]="!confirming" [message]="confirmMessage" (onCancel)="hideAll()" (onConfirm)="onRemoveAlbum(selectedAlbum)"></app-confirm>
<app-drawing-create [hidden]="!showDrawingCreate" (onClose)="hideAll()" (onCreated)="drawingCreated($event)" [open]="showDrawingCreate"></app-drawing-create>
<app-drawing-smart-search *ngIf="isSearching" [userAlbums]="userAlbums" (onCancel)="hideAll()"></app-drawing-smart-search>