<div class="modal-container">
    <div class="modal">
        <div class="modal-header">
            Recherche de dessins
        </div>
        <div class="modal-content">
            <div class="content">
                <div class="search-container">
                    <div class="search-albums">
                        <mat-checkbox 
                            [checked]="searchAllAlbums"
                            color="primary"
                            (change)="setSearchAlbum($event.checked)">
                            Rechercher dans tous les albums
                        </mat-checkbox>
                    </div>
                    <mat-form-field class="albums" *ngIf="!searchAllAlbums">
                        <mat-label>Album</mat-label>
                        <mat-select (valueChange)="albumId = $event" [value]="albumId">
                        <mat-option *ngFor="let album of userAlbums" [value]="album.id">
                            {{album.name}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="value">
                        <mat-label>Recherche</mat-label>
                        <input autocomplete="off" #input (keydown.enter)="search()" matInput (input)="value = $event.target.value">
                    </mat-form-field>
                    <div class="search">
                        <button mat-icon-button color="primary" style="font-size: 20px;" (click)="search()">
                            <fa-icon [icon]="searchIcon"></fa-icon>
                        </button>
                    </div>
                </div>
           </div>
           <div class="modal-content-bottom-section" *ngIf="drawings.length > 0">
                <div #drawingList class="drawing-list" (wheel)="scroll($event)">
                    <div class="drawing" *ngFor="let drawing of drawings">
                        <app-drawing-card 
                            [drawing]="drawing"
                            (onSetPassword)="setPassword(drawing)"
                            (onEdit)="editDrawing(drawing)" 
                            (onDelete)="deleteDrawing(drawing)" 
                            (onView)="onDrawingView(drawing)"></app-drawing-card>
                    </div>
                </div>
           </div>
            <div class="modal-content-bottom-section">
                <button mat-stroked-button [disabled]="isSearching" color="accent" class="button" (click)="cancel()" style="margin-left:0.5em">Fermer</button>
            </div>
        </div>
    </div>
</div>
<app-confirm [hidden]="!confirming && !deletingDrawing" [message]="confirmMessage" (onCancel)="hideAll()" (onConfirm)="confirmed()"></app-confirm>
<app-drawing-edit [hidden]="!showDrawingEdit" [open]="showDrawingEdit" [drawing]="selectedDrawing" (onClose)="hideAll()" (onEdit)="onDrawingEdit($event)"></app-drawing-edit>
<app-drawing-view [hidden]="!showDrawingView" [open]="showDrawingView" [drawing]="selectedDrawing" (onClose)="hideAll()"></app-drawing-view>
<app-drawing-set-password [drawing]="selectedDrawing" *ngIf="isSettingPassword" (onCancel)="hideAll()" (onConfirm)="passwordSet($event)"></app-drawing-set-password>