.modal {
    width: 70%;
}

.search-container {
    display: grid;
    grid-template-columns: 25% 45% 5% 25%;
    grid-template-areas: 
    ". search-albums . ."
    ". album search ."
    ". value search .";
}

.search-albums {
    text-align: left;
    grid-area: search-albums;
    margin-bottom: 1em;
}

.albums {
    grid-area: album;
}

.value {
    grid-area: value;
}

.search {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    display: flex;
    grid-area: search;
}

.drawing-list {
    overflow: auto;
    overflow-y: hidden;
    padding: 1em;
    background-color: var(--dark-box);
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(240px, max-content));
    grid-auto-flow: column;
}

.drawing {
    list-style-type: none;
}