/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color:  #e91e63;
    --warn: #f44336;
    --warn-hover: #d6453a;
    --dark-box: #222222;
}

html,
body {
    height: 100%;
    overflow: hidden;
    background-color: #303030;
    color: white;
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #303030;
}

::-webkit-scrollbar-thumb {
    background-color: #525252;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #e91e63;
}

@keyframes slidein {
    from { transform: translateX(150%); }
    to { transform: translateX(0%); }
}

.tooltip {
    white-space: pre-line;
    font-size: 12px;
}

.error {
    color: #f44336;
}

.success {
    color: #90e71f;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.card-header {
    padding: 16px;
    color: white;
    background-color: var(--primary-color);
    font-size: 16px;
}

.card {
    box-shadow: 2px 1px 5px 3px rgb(46, 46, 46);
    display: block;
    width: 35%;
    height: 25%;
    overflow: auto;
    text-align: center;
}

.card-content {
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    background-color: #3d3c3f;
    width: 100%;
}

.modal-container {
    display: block;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.753);
    text-align: center;
    z-index: 1000;
}

.modal {
    position: relative;
    top: 30%;
    transform: translateY(-25%);
    background-color: #303030;
    margin: auto;
    width: 50%;
    padding: 0;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0.25em;
    color: white;
    background-color: var(--primary-color);
}

.modal-content {
    padding: 1em;
}

.modal-content-top-section {
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid #222222;
    padding-bottom: 1em;
}

.modal-content-bottom-section {
    padding-top: 1em;
    border-top: 2px solid #222222;
}

.mouse-events-disabled {
    pointer-events: none;
}