<div class="action-menu" *ngIf="showHeader">
    <div class="section" style="justify-content: flex-end;">
        <button mat-mini-fab color="link" [disabled]="isPoppedOut" (click)="toggleChatBox()" [ngClass]="hasUnseenMessages ? 'notification':''">
            <fa-icon [icon]="chatIcon"></fa-icon>
        </button>
        <button mat-mini-fab color="link" [ngClass]="hasNewNotifications ? 'notification':''" (click)="toggleNotifications()">
            <fa-icon [icon]="notificationsIcon"></fa-icon>
        </button>
        <button mat-mini-fab color="link" (click)="toggleContactsList()">
            <fa-icon [icon]="contactsIcon"></fa-icon>
        </button>
        <app-avatar [imgSrc]="user?.avatar" style="margin-left: 1em" (click)="navigateToUser()"></app-avatar>
        <a class="pseudonym" routerLink="/user">{{user?.pseudonym}}</a>
        <button mat-mini-fab color="warn" (click)="disconnectUser()">
            <fa-icon [icon]="disconnectIcon"></fa-icon>
        </button>
    </div>
</div>
<div *ngIf="showHeader">
    <app-contact-list [hidden]="!showContacts" [open]="showContacts"></app-contact-list>
    <app-chat-room 
        (onPopoutChange)="isChatPoppedOut($event)" 
        (onNotification)="hasUnseenMessages = $event" 
        [showChatBox]="showChatBox" 
        [hidden]="!showChatBox"></app-chat-room>
    <app-app-notifications [hidden]="!showNotifications" (onNewNotifications)="newNotifications()"></app-app-notifications>
</div>