.action-menu {
    max-width: 60%;
    max-height: 4%;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.5em;
    z-index: 999;
}

.section button,
.section a {
    font-size: 22px;
    margin-left: 0.5em;
}

a.pseudonym {
    color: white;
    text-decoration: none;
    font-size: 18px !important;
}

.notification {
    animation: notification 4s infinite;
    background-color: var(--primary-color);
}

@keyframes notification {
    0% {
        transform: rotate(35deg);
    }
    6% {
        transform: rotate(-30deg);
    }
    12% {
        transform: rotate(25deg);
    }
    18% {
        transform: rotate(-20deg);
    }
    24% {
        transform: rotate(15deg);
    }
    30% {
        transform: rotate(-10deg);
    }
    36% {
        transform: rotate(5deg);
    }
    48% {
        transform: rotate(0deg);
    }
}

.section span {
    font-size: 14px;
    font-weight: bold;
}

.section {
    display: flex;
    flex: 1 1 100%;
    align-items: center;
}

.centered-section {
    justify-content: center;
}