<div class="modal-container">
    <div class="modal">
        <div class="modal-header">
            
        </div>
        <div class="modal-content">
            <div class="content">
                <mat-form-field>
                    <mat-label>Mot de passe</mat-label>
                    <input #input (keydown.enter)="confirm()" type="password" matInput (input)="password = $event.target.value">
                </mat-form-field>
            </div>
            <div class="modal-content-bottom-section">
                <button mat-raised-button [disabled]="isSettingPassword" color="primary" class="button" (click)="confirm()" style="margin-right:0.5em">Confirmer</button>
                <button mat-raised-button [disabled]="isSettingPassword" color="accent" class="button" (click)="decline()" style="margin-left:0.5em">Annuler</button>
            </div>
        </div>
    </div>
</div>