.tool-container {
    width: 250px;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: #3d3c3f;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

.tool-container::-webkit-scrollbar {
    display: none;
}

.tool-container:focus {
    outline: none;
}

.tool-header {
    background-color: #4e4d50;
    display: flex;
    align-items: center;
    padding: 1em;
}

.tool-header:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.tool-header mat-icon {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.tool-header .tool-title {
    flex: 1;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.tool-header .tool-icon {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

mat-card-content {
    border-top: 2px solid #303030;
    padding-top: 10px;
}

button {
    font-size: 18px;
}

.mouse-events-disabled {
    pointer-events: none;
}

.mouse-events-enabled  {
    pointer-events: all;
}

.canvasOptions {
    font-size: 21px;
}
