<div class="tool-container" tabindex="1" [ngClass]="currentEventsClass">
    <mat-card color="primary">
        <div
            class="tool-header"
            (click)="toolHeaderClicked()"
            [ngClass]="currentEventsClass"
            matTooltip="{{ getTooltipText(currentTool) }}"
            [matTooltipShowDelay]="tooltipDelay"
            [matTooltipPosition]="tooltipPosition"
            [matTooltipClass]="'tooltip'"
        >
            <mat-icon *ngIf="!showToolList">expand_more</mat-icon>
            <mat-icon *ngIf="showToolList">expand_less</mat-icon>
            <span class="tool-title">{{ currenToolLabel }}</span>
            <fa-icon class="tool-icon" [icon]="currenToolIcon"></fa-icon>
        </div>
        <mat-card-content *ngIf="showToolList" [ngClass]="currentEventsClass">
            <div *ngFor="let tool of toolList">
                <button
                    mat-icon-button
                    [color]="tool == currentTool ? 'primary' : 'basic'"
                    (click)="setTool(tool)"
                    [ngClass]="currentEventsClass"
                    matTooltip="{{ getTooltipText(tool) }}"
                    [matTooltipShowDelay]="tooltipDelay"
                    [matTooltipPosition]="tooltipPosition"
                    [matTooltipClass]="'tooltip'"
                >
                    <fa-icon [icon]="tool.TOOL_ICON"></fa-icon>
                    {{ tool.TOOL_LABEL }}
                </button>
            </div>
        </mat-card-content>
        <mat-card-content [ngClass]="currentEventsClass" *ngIf="showAttributes">
            <app-tool-attributes-container [toolAttributesComponent]="toolComponent"></app-tool-attributes-container>
        </mat-card-content>
        <mat-card-content [ngClass]="currentEventsClass">
            <app-color-picker></app-color-picker>
        </mat-card-content>
    </mat-card>
</div>
