<div class="modal-container">
    <div class="modal">
        <div class="modal-header">
            Demander à rejoindre l'album
        </div>
        <div class="modal-content">
            <div class="content">
                <div>
                    <span class="content-name">Nom :</span>&nbsp;
                    <span class="content-body">{{album?.name}}</span>
                </div>
                <div>
                    <span class="content-name">Description : </span>&nbsp;
                    <span class="content-body">{{album?.description || 'Aucune'}}</span>
                </div>
                <div style="justify-content: center; flex: 1 1 100%;">
                    <button mat-raised-button color="primary" [disabled]="disableActions" (click)="requestToJoin()">
                        Faire la demande pour rejoindre
                    </button>
                </div>
            </div>
            <div class="modal-content-bottom-section">
                <button mat-stroked-button color="accent" [disabled]="disableActions" (click)="close()">Annuler</button>
            </div>
        </div>
    </div>
</div>