.modal {
    width: 40%;
}

.content {
    padding-bottom: 1em;
    padding-top: 1em;
}

.content>div {
    display: flex;
}

.content-name {
    color: #969696;
}

.content-body {
    max-width: 80%; 
    word-wrap: break-word;
}