<mat-form-field appearance="fill">
    <mat-select #select [value]="value" (valueChange)="valueChanged($event)">
        <mat-option *ngFor="let val of values; index as i" [value]="val">
            {{ valueLabels[i] }}
        </mat-option>
    </mat-select>
</mat-form-field>
